@charset "utf-8";

html {
  font-size: 62.5%;
  color: #333333;
}
main {
  font-family: "Noto Sans JP";
}
.inner {
  margin: 0 auto;
  padding: 6rem 0;
  max-width: 1320px;
  width: 80%;
  overflow: hidden;
}
/* --------ヘッダーのCSS------------ */
#g-nav {
  display: none;
}
.header__nav {
  display: none;
}
.headerContainer {
  background-color: white;
  height: 8.8rem;
  width: 100vw;
  position: fixed;
  z-index: 9999;
}
.headerNav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1230px;
  height: 100%;
  padding: 0 3rem;
}
.headerUl_a {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.headerUl_b {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.headerUl_a a {
  padding: 0 2rem;
  color: #333333;
}
.myFv_Container_b img {
  width: 100%;
}
.tag {
  margin: 0 2rem;
  border-radius: 5px;
  color: #00374d;
  border: 1px solid #00374d;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 0.5rem;
  margin-left: 0;
  display: block;
  line-height: 1.7;
  text-align: center;
  padding: 0.1rem 0.5rem;
}
.headerUl_b a {
  display: block;
  text-align: center;
  height: 4rem;
  line-height: 4rem;
  width: 15rem;
  border: 1px solid #00374d;
  margin: 0 2rem;
  border-radius: 5px;
}
.headerItem_b:nth-child(1) {
  color: #00374d;
}
.headerItem_b:nth-child(2) {
  color: white;
  background-color: #00374d;
  border-radius: 5px;
=======

html {
    font-size: 62.5%;
}
main {
    padding-top: 88px;
}
.inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: 60px 30px;
    width: 100%;
}
/* @media screen and (min-width: 1100px){ */
    /* --------ヘッダーのCSS------------ */
.headerContainer {
    background-color: white;
    height: 8.8rem;
    width: 100%;
    position: fixed;
}
.headerNav {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1230px;
    height: 100%;
    padding: 0 3rem;
}
.headerUl_a {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    
}
.headerUl_b {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
.headerUl_a a {
    padding: 0 2rem;
}
.headerUl_b a {
    display: block;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    width: 15rem;
    border: 1px solid black;
    margin: 0 2rem;
    margin-right: 0;
}

/* -------------FVのCSS--------------- */
.myFv_Section {
  background-image: url(/IMG/アートボード\ 3@4x\ 1.png);
  min-height: 100vh;
  object-fit: cover;
}
.myFv_Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 10.8rem;
}
.myFv_Container_a {
  margin-right: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.myFv_preTitle {
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: 100;
  color: #00374d;
}
.myFV_Title {
  font-size: 4rem;
  color: #00374d;
  padding: 2rem 0;
  line-height: 1.6;
}
.myFv_text {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #00374d;
}
.myFv_ImgUl {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
}
.myFv_ImgItem {
  width: 6rem;
}
.myFv_Imgs {
  width: 100%;
}
.myFv_Img_b {
  background-color: white;
  height: 63rem;
  width: 50rem;
}
.myFv_Container_b img {
  width: 100%;
  height: 600px;
  object-fit: scale-down;
}
#hsForm_1e2d8052-99c4-4c6d-b88b-f8e0f1ee28e8 {
  display: flex;
  flex-wrap: wrap;
  width: 18rem;
}
#hsForm_1e2d8052-99c4-4c6d-b88b-f8e0f1ee28e8 {
  display: flex;
}
/* -------------「選ばれる理由」コンテンツ--------------- */
.myReason_Section {
  margin-bottom: 5rem;
  width: 100%;
}
.myReason_title {
  text-align: center;
  font-size: 3.2rem;
  line-height: 6rem;
  margin-bottom: 3rem;
}
.myReason_Ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.myReason_Item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 32%;
}
.myReason_img {
  width: 30%;
}
.myReason_Itemtitle {
  font-size: 2rem;
  padding: 2rem 0 1rem 0;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  color: #00374d;
}

.myReason_text {
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  width: 100%;
  padding: 0px 20px 0px 48px;
  background-position: left 20px center;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  overflow-wrap: break-word;
  background-image: url("/img/bi_check2-circle.svg");
  background-position-y: 2px;
=======
    background-image: url(/IMG/アートボード\ 3@4x\ 1.png);
    width: 100%;
}
.myFv_Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.myFv_Container_a {
    display: flex;
    flex-direction: column;
}

.myFv_preTitle {
    font-size: 2.4rem;
    font-weight: 100;
}
.myFv_title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    padding-bottom: 3rem;
}
.myFv_text {
    width: 43rem;
    font-size: 1.6rem;
    line-height: 3rem;
}
.myFv_ImgUl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.myFv_ImgItem {
    margin: 2.8rem;
    margin-left: 0;
}
.myFv_Imgs {
    height: 8.8rem;
    width: 8rem;
}
.myFv_Img_b {
    background-color: white;
    height: 63rem;
    width: 50rem;
}

/* -------------「選ばれる理由」コンテンツ--------------- */
.myReason_Section {
    width: 100%;
}
.myReason_Container {

}
.myReason_title {
    text-align: center;
    font-size: 3.2rem;
    line-height: 6rem;
    margin-bottom: 3rem;
}
.myReason_Ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.myReason_img {

}
.myReason_Itemtitle {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 7rem;
    text-align: center;
}
.myReason_Ul p {
    font-size: 1.6rem;
    line-height: 3rem;
}

/* -------------------ピックアップセクション------------------ */
.myPic_Section {
  background-color: #f8f8f8;
}
.myPic_title {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 4rem;
  color: #333333;
  letter-spacing: 0.2rem;
}
.myPic_br {
  position: relative;
  height: 0.4rem;
  width: 20rem;
  margin: 3rem auto;
  border-radius: 100px;
  background: linear-gradient(to right, #00374d 50%, #9e9e9e 50%);
}
.myPic_Ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.myPic_Item {
  width: 23%;
}

.myPic_img {
  width: 100%;
  text-align: center;
    background-color: #F8F8F8;
}
.myPic_title {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 4rem;
    color: #333333;
}
.myPic_br {
    position: relative;
    height: 0.4rem;
    width: 10%;
    margin: 3rem auto;
    background: linear-gradient(to right, #00374D 50%, #9E9E9E 50%);
}
.myPic_Ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}
.myPic_Item {
    background-color: white;
    height: 11rem;
    width: 22rem;
}
.myPic_img {
    height: 11rem;
    text-align: center;
}
/* ------------------------情報系セクションのタイトルCSS------------------------- */

/* ----H2のタイトル---- */
.myMedia_titleBox_h2 {
  margin-bottom: 5rem;
}
.myMedia_titleBox_h2 p {
  font-size: 2.4rem;
  color: #757575;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
  font-family: Montserrat;
}
.myMedia_titleBox_h2 h2 {
  font-size: 3.2rem;
  color: #00374d;
  font-weight: 500;
  display: inline-block;
}
.myMedia_titleBox_h2 a {
  font-size: 1.6rem;
  color: #333333;
  margin-left: 3rem;
  position: relative;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 40px;
  display: inline-block;
}
.myMedia_titleBox_h2 a::before {
  display: inline-block;
  content: "";
  position: absolute;
  border-bottom: 1px solid #333333;
  height: 1rem;
  width: 32rem;
  bottom: -1rem;
  left: -12px;
}
.myMedia_titleBox_h2 a::after {
  display: inline-block;
  content: "";
  position: absolute;
  border-right: 1px solid #333333;
  height: 2rem;
  bottom: -12px;
  transform: rotate(-40deg);
  left: 297px;
    margin-bottom: 5rem;
}
.myMedia_titleBox_h2 p {
    font-size: 2.4rem;
    color: #757575;
    margin-bottom: 2.5rem;
}
.myMedia_titleBox_h2 h2 {
    font-size: 3.2rem;
    color: #00374D ;
    font-weight: 700;
    display: inline-block;

}
.myMedia_titleBox_h2 a {
    font-size: 1.6rem;
    color: #333333;
    margin-left: 3rem;
    position: relative;
    vertical-align: top;
    margin-top: 4px;
    margin-left: 40px;
    display: inline-block;
}
.myMedia_titleBox_h2 a::before {
    display: inline-block;
    content: "";
    position: absolute;
    border-bottom: 1px solid #333333;
    height: 1rem;
    width: 32rem;
    bottom: -1rem;
    left: -12px;
}
.myMedia_titleBox_h2 a::after {
    display: inline-block;
    content: "";
    position: absolute;
    border-right: 1px solid #333333;
    height: 2rem;
    bottom: -12px;
    transform: rotate(-40deg);
    left: 301px;
}

/* ----H3のタイトル---- */
.myMedia_titleBox_h3 {
  margin-bottom: 3.2rem;
}
.myMedia_titleBox_h3 p {
  font-size: 2.4rem;
  color: #757575;
  margin-bottom: 2.5rem;
}
.myMedia_titleBox_h3 h3 {
  font-size: 2.4rem;
  font-weight: 500;
  display: inline-block;
}
.myMedia_titleBox_h3 a {
  font-size: 1.6rem;
  color: #333333;
  margin-left: 3rem;
  position: relative;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 40px;
  display: inline-block;
}
.myMedia_titleBox_h3 a::before {
  display: inline-block;
  content: "";
  position: absolute;
  border-bottom: 1px solid #333333;
  height: 1rem;
  width: 32rem;
  bottom: -1rem;
  left: -1.6rem;
}
.myMedia_titleBox_h3 a::after {
  display: inline-block;
  content: "";
  position: absolute;
  border-right: 1px solid #333333;
  height: 2rem;
  bottom: -1.2rem;
  transform: rotate(-40deg);
  left: 297px;
    margin-bottom: 5rem;
}
.myMedia_titleBox_h3 p {
    font-size: 2.4rem;
    color: #757575;
    margin-bottom: 2.5rem;
}
.myMedia_titleBox_h3 h3 {
    font-size: 2.4rem;
    color: #00374D ;
    font-weight: 700;
    display: inline-block;

}
.myMedia_titleBox_h3 a {
    font-size: 1.6rem;
    color: #333333;
    margin-left: 3rem;
    position: relative;
    vertical-align: top;
    margin-top: 4px;
    margin-left: 40px;
    display: inline-block;
}
.myMedia_titleBox_h3 a::before {
    display: inline-block;
    content: "";
    position: absolute;
    border-bottom: 1px solid #333333;
    height: 1rem;
    width: 32rem;
    bottom: -1rem;
    left: -12px;
}
.myMedia_titleBox_h3 a::after {
    display: inline-block;
    content: "";
    position: absolute;
    border-right: 1px solid #333333;
    height: 2rem;
    bottom: -12px;
    transform: rotate(-40deg);
    left: 301px;
}
/* ----------------お役立ち情報セクション------------------- */

.myHelpful_Section {
  background-color: white;
}
.myHelpful_title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

/* -----記事----- */
#modify {
  font-size: 0.75rem;
  color: gray;
}
.myHelpful_blog_comtainer {
  margin-bottom: 5rem;
}
.helpBlog_titleBox {
  line-height: 3rem;
  margin-bottom: 3rem;
}
.helpBlog_titleBox h3 {
  display: inline-block;
  font-size: 2.4rem;
}
.helpBlog_titleBox a {
  font-size: 1.4rem;
}
.helpBlog_Ul {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}
.helpBlog_item {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}
.helpBlog_linkBox {
  display: flex;
}
.helpBlog_img {
  width: 100%;
  text-align: center;
  background-color: beige;
}
.helpBlog_item > div {
  margin: 10px;
}
.helpBlog_item time {
  display: inline-block;
  height: 3rem;
}
.helpBlog_item p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 300;
    background-color: white;
}
.myHelpful_title{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

/* -----記事----- */
.myHelpful_blog_comtainer {
    margin-bottom: 5rem;
}
.helpBlog_titleBox {
    line-height: 3rem;
    margin-bottom: 3rem;
}
.helpBlog_titleBox h3 {
    display: inline-block;
    font-size: 2.4rem;
}
.helpBlog_titleBox a {
    font-size: 1.4rem;
}
.helpBlog_Ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}
.helpBlog_item {
    width: 25rem;
    margin-bottom: 2rem;
    border: 1px solid #D1D1D1;
}
.helpBlog_img {
    width: 25rem;
    text-align: center;
    height: 14rem;
    background-color: beige;
}
.helpBlog_item div {
    margin: 10px;
}
.helpBlog_item time {
    display: inline-block;
    height: 3rem;
}
.helpBlog_item p {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 300;
}
.helpBlog_item a {
    border: 1px solid #006DD4;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 1rem;
    margin-left: 0;
    display: block;
    width: 12rem;
    height: 2.3rem;
    line-height: 1.8;
    text-align: center;
}

/* ----資料---- */

.helpDoc_titleBox {
  line-height: 3rem;
  margin-bottom: 3rem;
}
.helpDoc_title {
  display: inline-block;
  font-size: 2.4rem;
}
.myHelpful_doc_Container {
  margin-bottom: 7rem;
}
.helpDoc_Ul {
  display: grid;
  align-items: stretch;
  justify-content: space-between;
  grid-template-columns: 49% 49%;
  grid-template-rows: 49% 49%;
  gap: 2rem;
}
.helpDoc_Item article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  height: 100%;
}
.helpDoc_Item article img {
  width: 40%;
}

.helpDoc_linkBox {
  display: flex;
  margin-bottom: 0.5rem;
}

.helpDoc_Item p:first-of-type {
  line-height: 2.5rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #333333;
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.helpDoc_write {
  line-height: 2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #757575;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.helpDoc_Item article > div {
  padding: 1rem 1.5rem;
  height: 100%;
  width: 100%;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.helpDoc_title {
    display: inline-block;
    font-size: 2.4rem;
}
.myHelpful_doc_Container{
    margin-bottom: 5rem;
}
.helpDoc_Ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.helpDoc_Item {
    width: 53rem;
    height: 25rem;
    background-color: #fff;
    border: 1px solid #D1D1D1;
}
.helpDoc_Item article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 1.5rem;
}
.helpDoc_Item article img {
    width: 25rem;
    height: 14rem;
}
.helpDoc_Item article p {
    line-height: 2.3rem;
    font-size: 1.6rem;
    letter-spacing: 5px;
} 
.helpDoc_Item a {
    border: 1px solid #006DD4;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 1rem;
    margin-left: 0;
    display: block;
    width: 12rem;
    height: 2.3rem;
    line-height: 1.8;
    text-align: center;
} 

.helpDoc_wirte {
    font-size: 1.4rem;
    line-height: 3rem;
    margin: 0 1.5rem;
}

/* ----------動画----------- */

.helpMov_titleBox {
  line-height: 3rem;
  margin-bottom: 3rem;
}
.helpMov_title {
  display: inline-block;
  font-size: 2.4rem;
}
.helpMov_ContentBox {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.helpMov_Content_a {
  width: 48%;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}
.helpMov_Content_a img {
  height: auto;
  width: 100%;
}
.helpMov_Content_a_linkBox {
  display: flex;
  margin-bottom: 0.5rem;
}
.helpMov_Content_a > div {
  margin: 1.5rem 2rem;
  max-width: 50rem;
}
.helpMov_Content_a h4 {
  font-size: 1.6rem;
  line-height: 3.5rem;
}
.helpMov_Content_a p {
  line-height: 2.5rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #757575;
  margin-top: 1rem;
}

.helpMov_Ul {
  display: grid;
  gap: 2rem;
  flex-wrap: wrap;
  width: 48%;
  flex-grow: 1;
  justify-content: space-around;
  grid-template-columns: 49% 49%;
  grid-template-rows: 49% 49%;
}
.helpMov_item {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}
.helpMov_item article > div {
  margin: 1rem 1.5rem;
}
.helpMov_item article img {
  width: 100%;
}
.helpMov_linkBox {
  display: flex;
}

.helpMov_item article h4 {
  font-size: 1.4rem;
  line-height: 2.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* ------------メディア紹介のセクション------------ */
.myMedia_Section {
  background-color: #f1f7fb;
}

.myMedia_Ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.myMedia_Item {
  background-color: #fff;
  width: 33%;
  border: 1px solid #757575;
  display: flex;
  justify-content: center;
  margin-right: -1px;
  margin-bottom: -1px;
}
.myMedia_Item article {
  padding: 2rem 2rem;
}
.myMedia_Item img {
  display: block;
  width: 80%;
  object-fit: cover;
}
.myMedia_Item article div {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.myMedia_Item a {
  color: #006dd4;
  border: 1px solid #006dd4;
  background-color: #f1f7fb;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 0.5rem;
  margin-left: 0;
  display: block;
  line-height: 1.7;
  text-align: center;
  padding: 0.1rem 0.5rem;
}
.myMedia_Item p {
  font-size: 1.4rem;
  line-height: 2.7rem;
}
.myMedia_br {
  width: 100%;
  height: 0;
  border: none;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.helpMov_title {
    display: inline-block;
    font-size: 2.4rem;
}
.helpMov_ContentBox {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.helpMov_Content_a {
    width: 65rem;
    border: 1px solid #D1D1D1;
}
.helpMov_Content_a img {
    height: 29rem;
    width: 52rem;
    
}
.helpMov_Content_a div {
    margin: 2rem;
}
.helpMov_Content_a h4 {
    font-size: 2rem;
    line-height: 4rem;
}
.helpMov_Content_a p {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 3rem;
    margin: 1rem 0;
}
.helpMov_Content_a a {
    border: 1px solid #006DD4;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 1rem;
    margin-left: 0;
    display: block;
    width: 12rem;
    height: 2.3rem;
    line-height: 1.8;
    text-align: center;
}

.helpMov_Ul {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
    justify-content: space-around;
}
.helpMov_item {
    width: 25rem;
    border: 1px solid #D1D1D1;
}
.helpMov_item  div {
    margin: 1rem;
}
.helpMov_item article img {
    width: 25rem;
    height: 15rem;
}
.helpMov_item article a {
    border: 1px solid #006DD4;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 1rem;
    margin-left: 0;
    display: block;
    width: 12rem;
    height: 2.3rem;
    line-height: 1.8;
    text-align: center;
} 
.helpMov_item article h4 {
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 600;
}


/* ------------メディア紹介のセクション------------ */
.myMedia_Section {
    background-color: #F1F7FB;
}

.myMedia_Ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.myMedia_Item {
    background-color: #fff;
    width: 38rem;
    height: 25rem;
    border: 1px solid #757575;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.myMedia_Item article {
    margin: 3rem;
}
.myMedia_Item img {
    display: block;
    width: 32rem;
    height: 5.4rem;
    object-fit: cover;
    margin-bottom: 2rem;
}
.myMedia_Item a {
    background-color: #F1F7FB;
    border: 1px solid #006DD4;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 1rem;
    margin-left: 0;
    display: block;
    width: 12rem;
    height: 2.3rem;
    line-height: 1.8;
    text-align: center;
}
.myMedia_Item p {
    font-size: 1.4rem;
    line-height: 2.7rem;
    max-width: 38rem;
}
.myMedia_br {
    width: 100%;
    height: 0;
    border: none;
}

/* -------------------特集企画---------------- */

/* 特集 */
.myCase_Container {
  margin-top: 8rem;
}
.myCase_Content ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.myCase_Content li {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.myCase_Content div {
  margin: 2rem;
}
.myCase_Content img {
  width: 100%;
}
.myCase_Content h3 {
  font-size: 2.4rem;
  color: #00374d;
  line-height: 3.2rem;
  font-weight: 500;
  padding: 2rem 0 1rem 0;
}
.myCase_h4Box {
  margin: 0 !important;
}
.myCase_Content h4 {
  font-size: 1.6rem;
  color: #00374d;
  position: relative;
  display: flex;
}
.myCase_Content h4::before {
  display: inline-block;
  content: "";
  position: absolute;
  border-left: 4px solid #00374d;
  height: 100%;
}
.myCase_Content h4 {
  display: flex;
  margin-bottom: -2px;
}
.myCase_title {
  width: 6rem;
  white-space: nowrap;
  font-size: 1.6rem;
  color: #757575;
  line-height: 2.2rem;
  margin: 0 2rem;
  padding: 1rem 0;
}
.myCase_text {
  font-size: 1.6rem;
  color: #00374d;
  line-height: 2.2rem;
  padding: 1rem 0;
}

.myCase_Content p {
  font-size: 1.6rem;
  color: #333333;
  line-height: 3rem;
  margin: 1rem 0;
.myCase_Content ul {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}
.myCase_Content li {
    border: 1px solid #ccc;
}
.myCase_Content div {
    margin: 2rem;
}
.myCase_Content img {
    width: 50rem;
}
.myCase_Content h3 {
    font-size: 2.4rem;
    color: #00374D;
    line-height: 6rem;
}
.myCase_Content h4 {
    font-size: 1.6rem;
    color: #00374D;
    margin: 1rem 0 ;
}
.myCase_Content span {
    font-size: 1.6rem;
    color: #757575;
    line-height: 4rem;
    margin: 0 2rem;
}
.myCase_Content p {
    font-size: 1.6rem;
    color: #333333;
    line-height: 3rem;
}

/* 登録・ダウンロード系 */
.myDow_Section {
  background-color: #00374d;
}
.myDow_Container ul {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.myDow_Container li {
  width: 48%;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #fff;
  display: flex;
  align-items: stretch;
  padding: 5rem 10rem;
}
.myDow_Container a {
  text-align: center;
  width: 100%;
}
.myDow_Container a > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.myDow_Container h3 {
  font-size: 2.4rem;
  position: relative;
  line-height: 4rem;
}
.myDow_br {
  position: relative;
  height: 0.4rem;
  width: 25%;
  margin: 3rem auto;
  background: linear-gradient(to right, white 50%, #9e9e9e 50%);
}
.myDow_Container p {
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 0 auto;
  width: 100%;
    background-color: #00374D;
}
.myDow_Container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
.myDow_Container li {
    width: 50rem;
    border: 1px solid #FFFFFF;
    color: #fff;
    height: 28rem;
    display: flex;
    align-items: center;
}
.myDow_Container a {
    text-align: center;
    height: 100%;
}
.myDow_Container a > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.myDow_Container h3 {
    font-size: 2.4rem;
    position: relative;
}
.myDow_br {
    position: relative;
    height: 0.4rem;
    width: 25%;
    margin: 3rem auto;
    background: linear-gradient(to right, white 50%, #9E9E9E 50%);
}
.myDow_Container p {
    font-size: 1.6rem;
    line-height: 3rem;
    margin: 0 auto;
    width: 70%;
}

/* CTAフォームセクション */
.myCta_Section {
  background-color: #eaeaea;
}
.myCta_Container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.myCta_Container h2 {
  font-size: 2.4rem;
  line-height: 1.6;
}
.myCta_Container form {
  background-color: #00374d;
  color: white;
  border-radius: 3px;
  font-size: 2.4rem;
  font-weight: ;
  padding: 2rem 6rem;
  display: inline-block;
  margin: 4rem 0;
}
.myCta_Container img {
  display: block;
  margin: auto;
}
.myCta_Container p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 1rem;
  position: relative;
  color: #00374d;
}
.call_img::before {
  display: inline-block;
  content: "";
  background-image: url(/img/Vector.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  left: -4.4rem;
  top: 7px;
}
.button-01 {
  display: block;
  width: 100%;
  padding: 0rem 4rem 0rem 8rem;
  background-position: left 16px center;
  background-repeat: no-repeat;
  background-size: 4rem;
  overflow-wrap: break-word;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.8;
  margin: 0;
  color: #00374d;
  letter-spacing: 6px;
}
.fav {
  background-image: url("/img/ic_round-phone.svg");
    background-color: #EAEAEA;
}
.myCta_Container {
    text-align: center;
}
.myCta_Container h2 {
    font-size: 2.4rem;
}
.myCta_Container form {
    background-color: #00374D;
    color: white;
    border-radius: 3px;
    font-size: 2.4rem;
    font-weight:;
    padding: 2rem 6rem;
    display: inline-block;
    margin: 4rem 0;
}
.myCta_Container img {
    display: block;
    margin: auto;
}
.myCta_Container p {
    font-size: 1.6rem;
    letter-spacing: 3px;
}

/* フッターのCSS */
.footer_Section {
  background-color: #fafafa;
}
.footerContent_a {
  display: flex;
  justify-content: space-between;
}
.footer_a_link {
  display: flex;
  justify-content: space-between;
  width: 60%;
  line-height: 3rem;
}
.footer_a_link h2 {
  font-size: 1.2rem;
  color: #333333;
  font-weight: 600;
}
.footer_a_minlink {
  display: flex;
  justify-content: space-between;
}
.footer_a_link a {
  color: #757575;
}
.footer_a_minlink li {
  margin: 0 1.2rem;
  margin-left: 0;
  position: relative;
}
.footer_br::after {
  display: flex;
  content: "";
  border-right: 1px solid #d1d1d1;
  height: 100%;
}
.footer_a_button {
  text-align: center;
}
.footer_a_button form {
  background-color: #00374d;
  color: white;
  border-radius: 3px;
  font-size: 1.6rem;
  font-weight: ;
  padding: 2.5rem 4rem;
  margin: 4rem 0;
  margin-top: 0;
}
.footer_a_button form:nth-child(3) {
  margin-bottom: 0;
}
.footer_a_button p {
  line-height: 2rem;
  letter-spacing: 1px;
  color: #757575;
  margin-top: 1rem;
}
.footerContent_b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.footerContent_b ul {
  display: flex;
}
.footerContent_b a {
  margin: 1.5rem;
  margin-left: 0;
  color: #757575;
}

/*========= レイアウトのためのCSS ===============*/

body {
  vertical-align: middle;
}

p {
  margin: 0 0 10px 0;
}

@media screen and (max-width: 1320px) {
  .helpBlog_item {
  }
  .helpBlog_Ul {
    grid-template-columns: auto auto auto;
  }
  .myDow_Container li {
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  #g-nav {
    display: block;
  }
  .inner {
    width: 85%;
  }
  .headerContainer {
    display: flex;
    background-color: transparent;
  }
  .headerNav {
    display: none;
  }
  /*========= ナビゲーションのためのCSS ===============*/

  #g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh; /*ナビの高さ*/
    background: #fff;
    /*動き*/
    transition: all 0.6s;
  }

  /*アクティブクラスがついたら位置を0に*/
  #g-nav.panelactive {
    right: 0;
  }

  /*ナビゲーションの縦スクロール*/
  #g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh; /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  /*ナビゲーション*/
  #g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*リストのレイアウト設定*/

  #g-nav li {
    list-style: none;
    text-align: center;
  }

  #g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: left;
  }

  /*========= ボタンのためのCSS ===============*/
  .openbtn1 {
    position: fixed;
    z-index: 9999; /*ボタンを最前面に*/
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  /*×に変化*/
  .openbtn1 span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 0.15rem;
    border-radius: 2px;
    background-color: #00374d;
    width: 45%;
  }

  .openbtn1 span:nth-of-type(1) {
    top: 15px;
  }

  .openbtn1 span:nth-of-type(2) {
    top: 23px;
  }

  .openbtn1 span:nth-of-type(3) {
    top: 31px;
  }

  .openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn1.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }

  .myFv_Wrapper {
    flex-direction: column;
    padding-top: 10.8rem;
  }
  .myFv_Container_a {
    width: 100%;
    margin: 8rem 0 3rem 0;
  }
  .myFv_Container_b img {
    height: auto;
  }
  .myPic_Ul {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
  }
  .myPic_Item {
    width: 100%;
  }
  .myReason_Ul {
    flex-direction: column;
    gap: 4rem;
  }
  .myReason_Item {
    width: 100%;
  }
  .helpBlog_Ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 2rem;
  }
  .helpBlog_item {
    min-width: 40%;
  }
  .helpBlog_img {
    width: 100%;
  }
  .helpDoc_Ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .helpDoc_Item {
    min-width: 40%;
  }
  .helpDoc_Item article {
    display: inline-block;
  }
  .helpDoc_Item article img {
    width: 100%;
  }
  .helpDoc_Item article > div {
    padding: 1rem 1.5rem;
  }
  .helpMov_item {
    min-width: 40%;
  }
  .helpMov_item article img {
    width: 100%;
    height: auto;
  }
  .helpMov_Content_a {
    display: none;
  }
  .helpMov_Ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .myMedia_Item {
    width: 49%;
  }
  .myMedia_Item p {
    width: 100%;
  }
  .myMedia_br {
    display: none;
  }
  .myMedia_titleBox_h3 a::before {
    width: 24rem;
  }
  .myMedia_titleBox_h3 a::after {
    top: 10px;
    left: 217px;
  }
  .myMedia_titleBox_h2 a::before {
    width: 24rem;
  }
  .myMedia_titleBox_h2 a::after {
    left: 220px;
    top: 9px;
  }
  .myCase_Content ul {
    flex-direction: column;
  }
  .myDow_Container ul {
    flex-direction: column;
    width: 100%;
  }
  .myDow_Container li {
    margin: 0 auto;
    width: 100%;
  }
  .footer_a_link {
    display: block;
  }
  .footer_a_minlink {
    flex-direction: column;
  }
  .footer_a_minlink ul {
    display: grid;
    grid-template-columns: 49% 49%;
  }
  .footer_a_link h2 {
    position: relative;
    padding-top: 1rem;
  }
  .footer_br:not(last-of-type)::after {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #d1d1d1;
    border-right: 0;
    width: 100%;
  }
  .footer_a_link {
    width: 100%;
    margin-bottom: 2rem;
  }
  .res_flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: ;
  }
  .footerContent_a {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .inner {
    margin: 0 auto;
    padding: 60px 16px;
    width: 100%;
  }

  .myFv_preTitle {
    font-size: 2rem;
  }
  .myFV_Title {
    font-size: 3.2rem;
    width: 28rem;
  }
  .myFv_Container_b {
    width: 100%;
  }
  .myFv_Container_b img {
    width: 100%;
    object-fit: scale-down;
  }
  .myReason_title {
    font-size: 2rem;
    line-height: 4rem;
  }
  .myPic_Ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .myPic_Item {
    width: 100%;
  }
  .helpBlog_item {
    min-width: 85%;
  }
  .helpDoc_Item {
    min-width: 85%;
  }
  .helpMov_item {
    min-width: 85%;
  }
  .helpMov_Ul {
    display: flex;
  }
  .myMedia_Ul {
    flex-direction: column;
  }
  .myMedia_Item {
    width: 100%;
  }
  .myMedia_titleBox_h2 {
    margin-bottom: 2.4rem;
  }
  .myMedia_titleBox_h2 p {
    font-size: 2rem;
  }
  .myMedia_titleBox_h2 h2 {
    font-size: 2.4rem;
  }
  .myMedia_titleBox_h3 h3 {
    font-size: 2rem;
  }
  .myMedia_titleBox_h3 a::before {
    width: 21rem;
  }
  .myMedia_titleBox_h3 a::after {
    top: 10px;
    left: 189px;
  }
  .myMedia_titleBox_h2 a::before {
    width: 21rem;
  }
  .myMedia_titleBox_h2 a::after {
    left: 192px;
    top: 10px;
  }
  .myCta_Container h2 {
    font-size: 2rem;
  }
  .myDow_Container ul {
    flex-direction: column;
  }
  .myDow_Container li {
    width: 100%;
  }
  .button-01 {
    padding: 0rem 0rem 0rem 5rem;
    background-position: left 7px center;
    background-size: 3rem;
  }
  .myCta_Container p {
    font-size: 1.2rem;
  }
  .fav {
    font-size: 2.4rem;
  }
  .myDow_Container h3 {
    font-size: 2rem;
  }
  .myCase_Content h3 {
    font-size: 2rem;
  }
  .footerContent_b {
    display: grid;
  }
  .footerContent_b ul {
    margin: 0;
  }
    background-color: #FAFAFA;
}
.footerContent_a {
    display: flex;
    justify-content: space-between;
}
.footer_a_link {
    display: flex;
    justify-content: space-between;
    width: 55%;
    line-height: 3rem;
}
.footer_a_link h2 {
    font-size: 1.2rem;
    color: #333333;
    font-weight: 600;
}
.footer_a_minlink {
    display: flex;
    justify-content: space-between;
}
.footer_a_minlink li {
    margin: 0 1.2rem;
    margin-left: 0;
}
.footer_a_button {
    text-align: center;
}
.footer_a_button form {
    background-color: #00374D;
    color: white;
    border-radius: 3px;
    font-size: 1.6rem;
    font-weight: ;
    padding: 2rem 4rem;
    margin: 4rem 0;
    margin-top: 0;
}
.footer_a_button form:nth-child(3){
    margin-bottom: 0;
}
.footer_a_button p {
    line-height: 2rem;
    letter-spacing: 1px;
}
.footerContent_b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}
.footerContent_b ul {
    display: flex;
    margin: 0px 3rem;
}
.footerContent_b ul li {
    margin: 1.5rem;
    margin-left: 0;
}
}
