<div class="article_table1 woman">
    <table class="article_table1_box">
        <tr>
            <th>家電・ガジェット</th>
            <td>パソコン／スマートフォン／通信サービス／カメラ／オーディオ機器等</td>
        </tr>
        <tr>
            <th>教育・資格</th>
            <td>社会人向けの資格取得のための専門学校／大学（ビジネススクール）</td>
        </tr>
        <tr>
            <th>金融サービス</th>
            <td>銀行／カード／証券／投資信託／保険／キャッシュレスサービス等</td>
        </tr>
        <tr>
            <th>レジャー（旅行）</th>
            <td>航空／電鉄／旅行代理店／政府観光局</td>
        </tr>
        <tr>
            <th>ヘルスケア商品関連</th>
            <td>医薬品／医薬部外品／サプリメント等</td>
        </tr>
        <tr>
            <th>エンタメ</th>
            <td>放送／出版／映画／音楽／アニメ／ゲーム／舞台／遊園地／動画配信事業／公共ギャンブル等</td>
        </tr>
        <tr>
            <th>ベビー関連</th>
            <td>育児用品や食品／衣料品／身の回り品／知育／情報用品等</td>
        </tr>
        <tr>
            <th>その他</th>
            <td>食品／飲料／洗剤／歯磨き粉／住宅／リフォーム／家具インテリア／アパレルブランド／調味料／お菓子／バストイレ／掃除用品等</td>
        </tr>
        <tr>
            <th>非営利組織</th>
            <td>啓蒙啓発を目的とする国際協力組織、社団法人等</td>
        </tr>
    </table>
</div>

<div class="article_table1 news">
    <table class="article_table1_box">
        <tr>
            <th>家電・ガジェット</th>
            <td>家電・ガジェット：パソコン／スマートフォン／通信サービス／カメラ／オーディオ機器等</td>
        </tr>
        <tr>
            <th>教育・資格</th>
            <td>社会人向けの資格取得のための専門学校／大学（ビジネススクール）</td>
        </tr>
        <tr>
            <th>金融サービス</th>
            <td>銀行／カード／証券／投資信託／保険／キャッシュレスサービス等</td>
        </tr>
        <tr>
            <th>レジャー（旅行）</th>
            <td>航空／電鉄／旅行代理店／政府観光局</td>
        </tr>
        <tr>
            <th>ヘルスケア商品関連</th>
            <td>医薬品／医薬部外品／サプリメント等</td>
        </tr>
        <tr>
            <th>エンタメ</th>
            <td>放送／出版／映画／音楽／アニメ／ゲーム／舞台／遊園地／動画配信事業／公共ギャンブル等</td>
        </tr>
        <tr>
            <th>ベビー関連</th>
            <td>育児用品や食品／衣料品／身の回り品／知育／情報用品等</td>
        </tr>
        <tr>
            <th>その他</th>
            <td>食品／飲料／洗剤／歯磨き粉／住宅／リフォーム／家具インテリア／アパレルブランド／調味料／お菓子／バストイレ／掃除用品等</td>
        </tr>
    </table>
</div>

<div class="article_table1 child">
    <table class="article_table1_box">
        <tr>
            <th>ヘルスケア商品関連</th>
            <td>医薬品／医薬部外品／サプリメント等</td>
        </tr>
        <tr>
            <th>ベビー関連</th>
            <td>児用品や食品／衣料品／身の回り品／知育／情報用品等</td>
        </tr>
        <tr>
            <th>家事育児関連</th>
            <td>動画配信事業／食材宅配等</td>
        </tr>
        <tr>
            <th>その他</th>
            <td>食品／飲料／洗剤／歯磨き粉／住宅／家具インテリア／バストイレ／掃除用品等</td>
        </tr>
    </table>
</div>

<div class="article_table1 student">
    <table class="article_table1_box">
        <tr>
            <th>デジタル</th>
            <td>パソコン／スマートフォン／通信サービス等</td>
        </tr>
        <tr>
            <th>教育・資格</th>
            <td>学習塾／資格取得のための通信サービス</td>
        </tr>
        <tr>
            <th>金融サービス</th>
            <td>銀行／カード／保険／キャッシュレスサービス等</td>
        </tr>
        <tr>
            <th>レジャー（旅行）</th>
            <td>航空／電鉄／旅行代理店</td>
        </tr>
        <tr>
            <th>ファッション関連</th>
            <td>アパレル／アクセサリー</td>
        </tr>
        <tr>
            <th>暮らし</th>
            <td>賃貸／家具</td>
        </tr>
        <tr>
            <th>その他</th>
            <td>自動車／スポーツジム等</td>
        </tr>
    </table>
</div>

<div class="article_table1 teens">
    <table class="article_table1_box">
        <tr>
            <th>デジタル</th>
            <td>スマホアプリ／カメラ等</td>
        </tr>
        <tr>
            <th>教育</th>
            <td>専門学校／通信教育等</td>
        </tr>
        <tr>
            <th>アパレル</th>
            <td>振袖／制服等</td>
        </tr>
        <tr>
            <th>エンタメ企業やサービス</th>
            <td>プリクラ／動画サービス／映画等</td>
        </tr>
        <tr>
            <th>その他</th>
            <td>食品／飲料／文房具／美容関連等</td>
        </tr>
        <tr>
            <th>ファッション関連</th>
            <td>アパレル／アクセサリー</td>
        </tr>
        <tr>
            <th>エンタメ企業やサービス、施設</th>
            <td>放送／出版／映画／音楽／舞台／遊園地／商業施設／動画配信事業／公共ギャンブル等</td>
        </tr>
        <tr>
            <th>暮らしに関するサービスや企業</th>
            <td>賃貸／家具</td>
        </tr>
        <tr>
            <th>その他</th>
            <td>自動車／スポーツジムなど</td>
        </tr>
    </table>
</div>