<div class="article_table1 woman">
    <table class="article_table1_box">
        <tr>
            <th>家電・ガジェット</th>
            <td>パソコン／スマートフォン／通信サービス／カメラ／オーディオ機器等</td>
        </tr>
        <tr>
            <th>教育</th>
            <td>社会人向けの資格取得のための専門学校／大学</td>
        </tr>
        <tr>
            <th>金融サービス</th>
            <td>銀行／カード／証券／投資信託／保険／キャッシュレスサービス等</td>
        </tr>
        <tr>
            <th>レジャー（旅行）</th>
            <td>航空／電鉄／旅行代理店／政府観光局</td>
        </tr>
        <tr>
            <th>ヘルスケア商品関連</th>
            <td>医薬品／医薬部外品／サプリメント等</td>
        </tr>
        <tr>
            <th>エンタメ企業やサービス、施設</th>
            <td>放送／出版／映画／音楽／舞台／遊園地／商業施設／動画配信事業／公共ギャンブル等</td>
        </tr>
        <tr>
            <th>非営利組織</th>
            <td>啓蒙啓発を目的とする国際協力組織、社団法人</td>
        </tr>
        <tr>
            <th>その他</th>
            <td>食品／飲料／洗剤／歯磨き粉／住宅／リフォーム／家具インテリア／アパレルブランド／調味料／お菓子／バストイレ／掃除用品など</td>
        </tr>
    </table>
</div>