<div id="article_summary">
    <ul>
        <li class="article_summary_li">
            <h3 class="article_summary_h3">概要タイトル</h3>
            <p class="article_summary_p mt-10">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要タイトル＋テキストの数は変更可能</p>
        </li>
        <li class="article_summary_li mt-20">
            <h3 class="article_summary_h3">概要タイトル</h3>
            <p class="article_summary_p mt-10">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要タイトル＋テキストの数は変更可能</p>
        </li>
        <li class="article_summary_li mt-20">
            <h3 class="article_summary_h3">概要タイトル</h3>
            <p class="article_summary_p mt-10">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要タイトル＋テキストの数は変更可能</p>
        </li>
    </ul>
</div>