<!-- 見出し -->
<h2 class="article_h2">h2 24px タイトルタイトル</h2>
<h3 class="article_h3">h3 18px タイトルタイトルタイトル</h3>
<h4 class="article_h4">h4 16px タイトルタイトル</h4>
<!-- テキスト -->
<p class="has-large-font-size">
    その他、課題に合わせてご提案いたします。<br>ワーク＆ライフ／テレワーク／ホビー／エンタメ／パソコン／モバイル／家電／ガジェット／就職応援等<strong>強調テキストが入ります。強調テキストが入ります。強調テキストが入ります。</strong>
</p>

<p class="has-normal-font-size">テキスト(小)が入ります。テキスト(小)が入ります。テキスト(小)が入ります。テキスト(小)が入ります。テキスト(小)が入ります。テキスト(小)が入ります。</p>

<p class="has-small-font-size">
    注釈テキストが入ります。注釈テキストが入ります。注釈テキストが入ります。注釈テキストが入ります。注釈テキストが入ります。注釈テキストが入ります。注釈テキストが入ります。注釈テキストが入ります。
</p>


<!-- リスト -->
<ul>
    <li>リストが入ります。リストが入ります。</li>
    <li>リストが入ります。リストが入ります。</li>
    <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
</ul>

<!-- 概要 -->
<ul class="article_summary">
    <li class="article_summary_li">
        <h5 class="article_summary_title">概要タイトル</h5>
        <p class="article_summary_p">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要タイトル＋テキストの数は変更可能</p>
    </li>
    <li class="article_summary_li">
        <h5 class="article_summary_title">概要タイトル</h5>
        <p class="article_summary_p">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要タイトル＋テキストの数は変更可能</p>
    </li>
    <li class="article_summary_li">
        <h5 class="article_summary_title">概要タイトル</h5>
        <p class="article_summary_p">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要タイトル＋テキストの数は変更可能</p>
    </li>
</ul>

<!-- 目次-->
<div class="article_toc">
    <div class="article_toc_header">
        <div class="article_toc_mokuji">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <p>もくじ</p>
        </div>
    </div>
    <ul class="article_toc_ul">
        <li>
            <h5>目次のテキストが入ります。</h5>
            <div>
                <p>目次のテキストが入ります。</p>
                <p>目次のテキストが入ります。目次のテキストが入ります。目次のテキストが入ります。</p>
            </div>
        </li>
        <li>
            <h5>目次のテキストが入ります。</h5>
            <div>
                <p>目次のテキストが入ります。</p>
                <p>目次のテキストが入ります。目次のテキストが入ります。目次のテキストが入ります。</p>
            </div>
        </li>
        <li>
            <h5>目次のテキストが入ります。</h5>
            <div>
                <p>目次のテキストが入ります。</p>
                <p>目次のテキストが入ります。目次のテキストが入ります。目次のテキストが入ります。</p>
            </div>
        </li>
        <li>
            <h5>目次のテキストが入ります。</h5>
            <div>
                <p>目次のテキストが入ります。</p>
                <p>目次のテキストが入ります。目次のテキストが入ります。目次のテキストが入ります。</p>
            </div>
        </li>
    </ul>
</div>

<!-- ボタン-->
<div class="wp-block-button">
    <a href="#" class="wp-element-button">プライマリーボタン</a>
</div>

<div class="wp-block-button is-style-outline">
    <a href="#" class="wp-block-button">セカンダリーボタン</a>
</div>

<div class="article_btn_icon">
    <a href="#" class="article_btn_icon_a">
        <p>アイコンテキストリンク</p>
        <img src="/assets/img/arrow_right.svg">
    </a>
</div>


<div class="article_btn_tertiary_wrapper">
    <a class="article_btn_tertiary" href="#">テキストリンク</a>
</div>

<a href="#">リンクリンクリンクリンク</a>

<!-- 記事コンテンツ1 -->
<div class="article_content1">
    <div class="article_content1_img">
        <img src="/assets/img/planner_img.png" alt="プランナーの画像">
        <p>プランナー</p>
    </div>
    <p>マイナビウーマンは、20代後半～30代前半の、ライフイベントが多く控えており、賢くお金を貯めたいと思っている読者が多い傾向にあります。また、マネーに関する情報をお届けするマネーカテゴリを常設しています。「〇〇でポイントが利用できてお得」「購入履歴でカンタン家計管理」など、日常生活の便利さを訴求する切り口がおすすめです。マイナビニュースでも、20代前半の若手ビジネスマンを多く囲っており、マネーに関する特集をシーズンに合わせてリリースしています。「スマートなビジネスマンを目指す」などのテーマ型の座談会が人気です。
    </p>
</div>

<!-- 記事コンテンツ2 -->
<div class="article_content2">
    <div class="article_content2_left">
        <p>アパレル</p>
        <img src="/assets/img/apparel.png" alt="">
    </div>
    <div class="article_content2_right">
        <h4>イベントやライブなどに参加するために、洋服を買ったことはありますか？</h4>
        <p class="article_content2_right_red">はい 69.1%</p>
        <p class="article_content2_right_nomal">
            推しの“メンバーカラー”を身に着けるのが定番！イベントやライブのシーズンを意識して新調する傾向。良いものであれば、普段着より少し価格が高いものでも購入。</p>
    </div>
</div>

<!-- テーブル-->
<figure class="article_table">
    <table class="article_table_box">
        <tr>
            <th>家電・ガジェット</th>
            <td>パソコン／スマートフォン／通信サービス／カメラ／オーディオ機器等</td>
        </tr>
        <tr>
            <th>教育・資格</th>
            <td>社会人向けの資格取得のための専門学校／大学（ビジネススクール）</td>
        </tr>
        <tr>
            <th>金融サービス</th>
            <td>銀行／カード／証券／投資信託／保険／キャッシュレスサービス等</td>
        </tr>
        <tr>
            <th>レジャー（旅行）</th>
            <td>航空／電鉄／旅行代理店／政府観光局</td>
        </tr>
        <tr>
            <th>ヘルスケア商品関連</th>
            <td>医薬品／医薬部外品／サプリメント等</td>
        </tr>
        <tr>
            <th>エンタメ</th>
            <td>放送／出版／映画／音楽／アニメ／ゲーム／舞台／遊園地／動画配信事業／公共ギャンブル等</td>
        </tr>
        <tr>
            <th>ベビー関連</th>
            <td>育児用品や食品／衣料品／身の回り品／知育／情報用品等</td>
        </tr>
        <tr>
            <th>その他</th>
            <td>食品／飲料／洗剤／歯磨き粉／住宅／リフォーム／家具インテリア／アパレルブランド／調味料／お菓子／バストイレ／掃除用品等</td>
        </tr>
        <tr>
            <th>非営利組織</th>
            <td>啓蒙啓発を目的とする国際協力組織、社団法人等</td>
        </tr>
    </table>
</figure>

<div class="article_table">
    <table class="article_table_box">
        <tr>
            <th>テーブルタイトル</th>
            <td>テキストが入ります。</td>
            <td>テキストが入ります。</td>
        </tr>
        <tr>
            <th>テーブルタイトル</th>
            <td>テキストが入ります。</td>
            <td>テキストが入ります。</td>
        </tr>
    </table>
</div>

<div class="article_table">
    <table class="article_table_box">
        <tr>
            <th>テーブルタイトル</th>
            <th>テーブルタイトル</th>
            <th>テーブルタイトル</th>
        </tr>
        <tr>
            <th>テーブルタイトル</th>
            <td>テキストが入ります。</td>
            <td>テキストが入ります。</td>
        </tr>
        <tr>
            <th>テーブルタイトル</th>
            <td>テキストが入ります。</td>
            <td>テキストが入ります。</td>
        </tr>
    </table>
</div>

<!-- 画像-->
<figure class="wp-block-image" width="100%">
    <img src="/assets/img/image.png" alt="" width="100%">
</figure>