<div class="primary_btn">
    <a class="primary_btn_text" href="">
        特集・プロジェクト資料の一覧はこちら
    </a>
</div>

<div class="secondary_btn feature_list">
    <a class="secondary_btn_text" href="#">
        <span>特集・プロジェクト資料の一覧は</span><span>こちら</span>
    </a>
</div>

<div class="secondary_btn more_feature">
    <a class="secondary_btn_text">
        もっと見る
    </a>
</div>

<div class="secondary_btn more_project">
    <a class="secondary_btn_text">
        もっと見る
    </a>
</div>

<div class="secondary_btn more_result">
    <a class="secondary_btn_text">
        もっと見る
    </a>
</div>