<div class="case_detail_head">
    <h1>【認知拡大・ブランディング】<br>マイナビメディア広告事例</h1>
    <ul class="sidebar_tag_wrapper">
        <li><a class="sidebar_tag" href="#">Z世代</a></li>
        <li><a class="sidebar_tag" href="#">ミレニアル世代</a></li>
        <li><a class="sidebar_tag" href="#">F1層</a></li>
        <li><a class="sidebar_tag" href="#">子育て層</a></li>
        <li><a class="sidebar_tag" href="#">Z世代</a></li>
        <li><a class="sidebar_tag" href="#">ミレニアル世代</a></li>
        <li><a class="sidebar_tag" href="#">F1層</a></li>
        <li><a class="sidebar_tag" href="#">子育て層</a></li>
        <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
    </ul>
</div>