<a class="case_card_primary" href="/case/case_detail/index.html">
    <li class="case_card_primary_content">
        <img src="/assets/img/case_thumbnail.png" alt="広告事例一覧の画像">
        <div class="case_card_primary_content_text">
            <h3>マイナビメディア広告事例</h3>
            <div class="case_card_primary_content_h4">
                <h4>課題</h4>
                <p>自社のブランド想起率向上</p>
            </div>
            <div class="case_card_primary_content_h4">
                <h4>実施内容</h4>
                <p>自社のブランド想起率向上</p>
            </div>
            <p class="case_card_primary_content_p">
                出産準備特集（記事広告・マイナビDSP）はじめての出産を控える新米パパ・ママにアプローチができるPV保証型特集企画。自然検索流入で急成長中のマイナビ子育てで、自社</p>
        </div>
    </li>
</a>
<li class="case_card_primary_br"></li>