<section class="myDow_Section">
  <div class="myDow_Container inner">
    <ul>
      <li>
        <a href="#">
          <div>
            <h3>メルマガ登録はこちら</h3>
            <div class="myDow_br"></div>
            <p>マイナビメディアのマーケティングチームが監修した
              お役立ち情報やセールス・広告手法に関する情報を
              定期的に発信しています</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div>
            <h3>サービス紹介資料ダウンロード</h3>
            <div class="myDow_br"></div>
            <p>メディア・企画の詳細については
              媒体資料をご確認ください</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="myCta_Section">
  <div class="myCta_Container inner">
    <h2>広告掲載やメディアに関するお問い合わせはこちらから</h2>
    <form action="" type="submit">お問い合わせ</form>
    <div class="menu-item">
      <a href="" class="button-01 fav">03-6267-4335</a>
    </div>
    <p>受付時間：平日10:00〜18:00（弊社所定の休業日を除く）</p>
  </div>
</section>