<div id="doc_card_primary">
    <a href="" class="card_link"></a>
    <div class="doc_image_wrapper">
        <img src="/assets/img/image 22.png" class="doc_card_primary_img">
    </div>
    <div class="doc_card_primary_detail">
        <h3 class="doc_card_primary_title">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介</h3>
        <ul class="sidebar_tag_wrapper">
            <li><a class="sidebar_tag" href="">共働き夫婦</a>
            </li>
            <li><a class="sidebar_tag" href="">共働き夫婦</a>
            </li>
        </ul>
    </div>
</div>

<div class="doc_card_primary_plan ">
    <a href="" class="card_link"></a>
    <div class="doc_image_wrapper">
        <img src="/assets/img/image 24.png" class="doc_card_primary_img">
    </div>
    <div class="doc_card_primary_detail">
        <h3 class="doc_card_primary_title">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介</h3>
        <ul class="sidebar_tag_wrapper">
            <li><a class="sidebar_tag" href="">共働き夫婦</a>
            </li>
            <li><a class="sidebar_tag" href="">共働き夫婦</a>
            </li>
        </ul>
    </div>
</div>