<div class="form_summary__wrapper form_document">
  <h2>アフターコロナの消費行動予測</h2>

  <div>
    <div class="form_summary__box">

      <div class="form_summary__box--img">
        <img src="../../assets/img/doc_thumbnail.png" alt="">
      </div>

      <div class="form_summary__box--content">
        <p class="p-base">
          アフターコロナ（新型コロナウイルス収束後）の暮らしはどうなるのでしょうか？消費行動をアンケート調査から予測！Z世代・ミレニアル世代（20～34歳）の働く未婚男女を対象に、デジタル機器／キャッシュレス／資産運用／出前・宅配・テイクアウト／旅行／VOD／化粧品の消費傾向を調査しました。
        </p>

        <div class="form_summary__box--content__borderContent">
          <h3>この資料で分かること</h3>
          <ul>
            <li>オタク女子（沼女子）のお金の使い方・情報収集</li>
            <li>オタク女子を自社商品の購買に繋げる方法</li>
            <li>オタク女子に訴求するときに気を付けたいポイントオタク女子に訴求するときに気を付けたいポイントオタク女子に訴求するときに気を付けたいポイント</li>
          </ul>
        </div>
      </div>

    </div>

    <div id="form">
      <iframe id="iframe" src="https://go.woman.mynavi.jp/l/826223/2021-01-27/2l2y4" width="100%" height="1500px"
        type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
    </div>
  </div>
</div>