<header class="headerContainer">
  <div class="headerNav">
    <ul class="headerUl_a">
      <li class="headerItem_a"><a href="/" class="headerLink_a">HOME</a></li>
      <li class="headerItem_a useful_information_li">
        <a href="#" class="headerLink_a useful_information">お役立ち情報</a>
        <ul class="headerItem_a_sub_useful">
          <li><a href="/column/">調査記事</a></li>
          <li><a href="/document/">資料</a></li>
          <li><a href="/movie/">動画</a></li>
        </ul>
      </li>
      <li class="headerItem_a media_introduction_li">
        <a href="/media/index.html" class="headerLink_a media_introduction">メディア紹介</a>
        <ul class="headerItem_a_sub_media">
          <li><a href="/media/mynavi_news/">マイナビニュース</a></li>
          <li><a href="/media/mynavi_woman/">マイナビウーマン</a></li>
          <li><a href="/media/mynavi_child/">マイナビ子育て</a></li>
          <li><a href="/media/mynavi_student/">マイナビ学生の窓口</a></li>
          <li><a href="/media/mynavi_teens/">マイナビティーンズ</a></li>
        </ul>
      </li>
      <li class="headerItem_a"><a href="/feature/" class="headerLink_a">特集・プロジェクト資料</a></li>
      <li class="headerItem_a"><a href="/case/" class="headerLink_a">広告事例</a></li>
      <li class="headerItem_register"><a href="/mail_magazin/" class="headerLink_register">メルマガ登録</a></li>
      <li class="headerItem_contact"><a href="/contact/" class="headerLink_contact">お問い合わせ</a></li>
    </ul>
  </div>
  <div class="openbtn1"><span></span><span></span><span></span></div>
  <nav id="g-nav">
    <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
      <ul>
        <li><a href="/" class="g-nav-main-li">HOME</a></li>
        <li><a href="#" class="g-nav-ul-useful g-nav-main-li">お役立ち情報</a></li>
        <!-- お役立ち情報のサブ -->
        <li class="g-nav-ul-sub-a"><a href="/column/">調査記事</a></li>
        <li class="g-nav-ul-sub-a"><a href="/document/">資料</a></li>
        <li class="g-nav-ul-sub-a"><a href="/movie/">動画</a></li>
        <li><a href="#" class="g-nav-ul-media g-nav-main-li">メディア紹介</a></li>
        <!-- メディア紹介のサブ -->
        <li class="g-nav-ul-sub-b"><a href="/media/mynavi_news/">マイナビニュース</a></li>
        <li class="g-nav-ul-sub-b"><a href="/media/mynavi_woman/">マイナビウーマン</a></li>
        <li class="g-nav-ul-sub-b"><a href="/media/mynavi_child/">マイナビ子育て</a></li>
        <li class="g-nav-ul-sub-b"><a href="/media/mynavi_student/">マイナビ学生の窓口</a></li>
        <li class="g-nav-ul-sub-b"><a href="/media/mynavi_teens/">マイナビティーンズ</a></li>
        <li><a href="/feature/" class="g-nav-main-li">特集企画</a></li>
        <li><a href="/case/" class="g-nav-main-li">広告事例</a></li>
        <li class="headerItem_register_g"><a href="/mail_magazin/" class="headerLink_register_g">メルマガ登録</a></li>
        <li class="headerItem_contact_g"><a href="/contact/" class="headerLink_contact_g">お問い合わせ</a></li>
      </ul>
    </div>
  </nav>
</header>