<header class="headerContainer">
  <div class="headerNav">
    <ul class="headerUl_a">
      <li class="headerItem_a"><a href="#" class="headerLink_a">お役立ち情報</a></li>
      <li class="headerItem_a"><a href="#" class="headerLink_a">メディア紹介</a></li>
      <li class="headerItem_a"><a href="#" class="headerLink_a">特集・プロジェクト資料</a></li>
      <li class="headerItem_a"><a href="#" class="headerLink_a">広告事例</a></li>
      <li class="headerItem_register"><a href="#" class="headerLink_register">メルマガ登録</a></li>
      <li class="headerItem_contact"><a href="#" class="headerLink_contact">お問い合わせ</a></li>
    </ul>
  </div>
  <div class="openbtn1"><span></span><span></span><span></span></div>
  <nav id="g-nav">
    <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
      <ul>
        <li><a href="#">Top</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>