<div class="form_summary__wrapper form_article">
  <h2>登録された方には、消費者インサイト情報やお得なセールス情報をお届けします。</h2>

  <div>
    <div class="form_summary__box">
  
      <div class="form_summary__box--content">
        <p class="p-base">オタク女子を対象に実施した、消費行動に関するアンケート調査・インタビュー調査結果を公開！
          お金の使い方、SNSと情報収集、推しが関わる商品に対する購買意欲、オタク向け訴求で気を付けたいポイントをまとめました。
          アクティブな消費層を見出したい方、プロモーションの新しい切り口を探している方におすすめです。</p>
  
        <div class="form_summary__box--content__borderContent">
          <h3>メルマガ登録で得られる情報</h3>
          <ul>
            <li>オタク女子（沼女子）のお金の使い方・情報収集</li>
            <li>オタク女子を自社商品の購買に繋げる方法</li>
            <li>オタク女子に訴求するときに気を付けたいポイントオタク女子に訴求するときに気を付けたいポイントオタク女子に訴求するときに気を付けたいポイント</li>
          </ul>
        </div>
      </div>
  
    </div>
  
    <div id="form">
      <iframe id="iframe" src="https://go.woman.mynavi.jp/l/826223/2021-01-27/2l2y4" width="100%" height="1100px" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
    </div>
  </div>
</div>