<div class="media_detail_head woman">
    <div class="media_detail_head_text">
        <h2 class="media_detail_head_text_h2">マイナビウーマン媒体資料</h2>
        <p class="media_detail_head_text_feat">働く女性向けの広告掲載なら「マイナビウーマン」<br>
            会員は、20～30代の正社員として働く未婚女性がボリュームゾーン。時間的にも金銭的にも余裕があり、購買意欲が高い優良顧客層です。<br>
            女性向けプロモーションのご相談、女性インサイト調査は、マイナビウーマンまでお気軽にお問い合わせください。</p>
        <div class="media_detail_head_text_notice_box">
            <p class="media_detail_head_text_notice">お知らせ</p>
            <p class="media_detail_head_text_date">2022/12/11<span class="media_detail_head_text_update">2023年1～3月版資料を更新しました</span></p>
        </div>
    </div>
    <div class="media_detail_head_imgBox">
        <img class="media_detail_head_img" src="/assets/img/image 47.png" alt="マイナビウーマン画像">
    </div>
</div>

<div class="media_detail_head news">
    <div class="media_detail_head_text">
        <h2 class="media_detail_head_text_h2">マイナビニュース媒体資料</h2>
        <p class="media_detail_head_text_feat">その先を伝える総合情報サイトマイナビニュース。企業IT・デジタル・ワーク&ライフ・エンタメなど、全10ジャンルの情報を発信しています。</p>
        <div class="media_detail_head_text_notice_box">
            <p class="media_detail_head_text_notice">お知らせ</p>
            <p class="media_detail_head_text_date">2022/12/11<span class="media_detail_head_text_update">2023年1～3月版資料を更新しました</span></p>
        </div>
    </div>
    <div class="media_detail_head_imgBox">
        <img class="media_detail_head_img" src="/assets/img/image 72.png" alt="マイナビウーマン画像">
    </div>
</div>

<div class="media_detail_head child">
    <div class="media_detail_head_text">
        <h2 class="media_detail_head_text_h2">マイナビ子育て媒体資料</h2>
        <p class="media_detail_head_text_feat">妊娠中・育児中のママ、共働き夫婦向けの広告掲載なら「マイナビ子育て」<br>
            妊婦・未就学児ママの86%が閲覧する育児メディアです。育児中のママパパが必要とする健康・医療情報を、信頼できる医師監修体制で提供しています。<br>
            妊婦・ママ・パパ向けプロモーションのご相談、妊娠・子育てに関するインサイト調査は、マイナビ子育てまでお気軽にお問い合わせください。</p>
        <div class="media_detail_head_text_notice_box">
            <p class="media_detail_head_text_notice">お知らせ</p>
            <p class="media_detail_head_text_date">2022/12/11<span class="media_detail_head_text_update">2023年1～3月版資料を更新しました</span></p>
        </div>
    </div>
    <div class="media_detail_head_imgBox">
        <img class="media_detail_head_img" src="/assets/img/image 73.png" alt="マイナビウーマン画像">
    </div>
</div>

<div class="media_detail_head student">
    <div class="media_detail_head_text">
        <h2 class="media_detail_head_text_h2">マイナビ学生の窓口媒体資料</h2>
        <p class="media_detail_head_text_feat">進学や就活など、学生が直面するライフイベントに寄り添ってきたマイナビが立ち上げた、学生に特化したメディア。「一歩踏み出せば世界が変わる。学生のはじめの一歩を応援したい。」というコンセプトのもと、WEBメディア・SNS・イベントを通じた社会体験を提供しています。</p>
        <div class="media_detail_head_text_notice_box">
            <p class="media_detail_head_text_notice">お知らせ</p>
            <p class="media_detail_head_text_date">2022/12/11<span class="media_detail_head_text_update">2023年1～3月版資料を更新しました</span></p>
        </div>
    </div>
    <div class="media_detail_head_imgBox">
        <img class="media_detail_head_img" src="/assets/img/image 75.png" alt="マイナビウーマン画像">
    </div>
</div>

<div class="media_detail_head teens">
    <div class="media_detail_head_text">
        <h2 class="media_detail_head_text_h2">マイナビティーンズ媒体資料</h2>
        <p class="media_detail_head_text_feat">13～19歳のアクティブな10代女子に向けたYouTube連動型の新感覚サイト。JK編集部やマイナビティーンズ会員など、「リアルな10代女子」7000名以上と常にコミュニケーションを取り、共にコンテンツを制作しています。ファッション、ビューティー、エンタメなど、彼女達の関心が高い分野を中心に、さまざまな情報を発信しています。</p>
        <div class="media_detail_head_text_notice_box">
            <p class="media_detail_head_text_notice">お知らせ</p>
            <p class="media_detail_head_text_date">2022/12/11<span class="media_detail_head_text_update">2023年1～3月版資料を更新しました</span></p>
        </div>
    </div>
    <div class="media_detail_head_imgBox">
        <img class="media_detail_head_img" src="/assets/img/image 75.png" alt="マイナビウーマン画像">
    </div>
</div>