<div class="media_card_summary woman">
    <div id="news" class="media_card_summary__item mt-40">
        <div class="media_card_summary__item--content">
            <h3>マイナビウーマン</h3>
            <div class="media_card_summary__item--content__header">
                <img src="/assets/img/woman_logo.svg" alt="マイナビウーマン">
                <a href="https://news.mynavi.jp" target="_blank">https://news.mynavi.jp</a>
            </div>
            <div class="media_card_summary__item--content__tags mt-20">
                <span>約7384万PV</span>
                <span>会員約72万名</span>
                <span>20～30代女性</span>
                <span>6割以上が正社員・公務員</span>
                <span>約65%が独身</span>
            </div>
        </div>
        <div class="media_card_summary__item--thumbnail">
            <img src="/assets/img/thumbnail_woman.jpg" alt="マイナビウーマンのサムネイル">
        </div>
    </div>

    <div class="media_card_summary_explanation">
        <ul>
            <li class="media_card_summary_explanation_li">
                <h3 class="media_card_summary_explanation_h3">メディアコンセプト</h3>
                <p class="media_card_summary_p mt-10">
                    マイナビウーマンは、20～30代の働く女性に向けて、前へ進むヒントや変化する後押しとなる情報を届けるメディアです。様々な生き方、選択肢を提示することで、女性たちの自由で自立した人生を応援します。
                </p>
            </li>
            <li class="media_card_summary_explanation_li mt-20">
                <h3 class="media_card_summary_explanation_h3">ユーザー/特徴</h3>
                <p class="media_card_summary_explanation_p mt-10">
                    マイナビウーマンのユーザーは、20～30代・未婚の働く女性。正社員比率が高く経済的にゆとりがあり、しっかりと情報を比較検討し、良い物にはお金を惜しまない層です。「今日よりちょっといい明日」を求める彼女たちに向け、仕事・美容・健康・マネー・恋愛・エンタメ・旅行・グルメなど、幅広い情報を発信しています。
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="media_card_summary news">
    <div id="news" class="media_card_summary__item mt-40">
        <div class="media_card_summary__item--content">
            <h3>マイナビニュース</h3>
            <div class="media_card_summary__item--content__header">
                <img src="/assets/img/news_logo.svg" alt="マイナビニュース">
                <a href="https://news.mynavi.jp" target="_blank">https://news.mynavi.jp</a>
            </div>
            <div class="media_card_summary__item--content__tags mt-20">
                <span>約1億3925万PV</span>
                <span>約3410万UU</span>
                <span>若手ビジネスパーソン</span>
                <span>メディアアライアンス網</span>
            </div>
        </div>
        <div class="media_card_summary__item--thumbnail">
            <img src="/assets/img/news_thumbnail.png" alt="マイナビニュースのサムネイル">
        </div>
    </div>

    <div class="media_card_summary_explanation">
        <ul>
            <li class="media_card_summary_explanation_li">
                <h3 class="media_card_summary_explanation_h3">メディアコンセプト</h3>
                <p class="media_card_summary_p mt-10">
                    マイナビニュースはビジネスパーソンのON/OFF、男女を問わず、幅広いジャンルの情報を提供する総合ニュースメディアです。ニュースに限らず、役立つノウハウや体験レポート、まじめなレビュー、柔らかい記事から硬派な記事まで網羅しています。
                </p>
            </li>
            <li class="media_card_summary_explanation_li mt-20">
                <h3 class="media_card_summary_explanation_h3">ユーザー/特徴</h3>
                <p class="media_card_summary_explanation_p mt-10">
                    マイナビニュースのメインユーザーは、20代の若手社会人。日本最大級の就職サイト「マイナビ」で会員となったユーザーは、日本唯一の新社会人応援サイト「フレッシャーズ」を経て、マイナビニュースの会員となります。毎年、フレッシュな新社会人を安定的に会員化しています。
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="media_card_summary child">
    <div id="news" class="media_card_summary__item mt-40">
        <div class="media_card_summary__item--content">
            <h3>マイナビ子育て</h3>
            <div class="media_card_summary__item--content__header">
                <img src="/assets/img/teens_logo.svg" alt="マイナビ子育て">
                <a href="https://news.mynavi.jp" target="_blank">https://news.mynavi.jp</a>
            </div>
            <div class="media_card_summary__item--content__tags mt-20">
                <span>約4939万PV</span>
                <span>約906万UU</span>
                <span>妊婦・未就学児パパママ</span>
                <span>医師監修体制</span>
                <span>悩みキーワード流入</span>
            </div>
        </div>
        <div class="media_card_summary__item--thumbnail">
            <img src="/assets/img/thumbnail_child.jpg" alt="マイナビ子育てのサムネイル">
        </div>
    </div>

    <div class="media_card_summary_explanation">
        <ul>
            <li class="media_card_summary_explanation_li">
                <h3 class="media_card_summary_explanation_h3">メディアコンセプト</h3>
                <p class="media_card_summary_p mt-10">
                    マイナビ子育ては、妊娠中・育児中のママ、共働き家庭を応援するメディアです。「夫婦一緒に子育て」をコンセプトに、『パパ・ママ一緒に子育て＆家事』を行うことを促進する情報を発信していきます。</p>
            </li>
            <li class="media_card_summary_explanation_li mt-20">
                <h3 class="media_card_summary_explanation_h3">ユーザー/特徴</h3>
                <p class="media_card_summary_explanation_p mt-10">マイナビ子育てのユーザーは、第1子妊娠中・育児中の女性（産休・育休中含む）が8割。<br>
                    心身共に不安定になりがちな妊娠中ユーザーが最も多く、次に0歳の新生児・乳児を抱える育児中ママが多く訪れています。<br>
                    ユーザーの不安に応え、信頼性が高い医師監修のコンテンツを多数発信しています。</p>
            </li>
        </ul>
    </div>
</div>

<div class="media_card_summary student">
    <div id="news" class="media_card_summary__item mt-40">
        <div class="media_card_summary__item--content">
            <h3>マイナビ学生の窓口</h3>
            <div class="media_card_summary__item--content__header">
                <img src="/assets/img/student_logo.svg" alt=" マイナビ学生の窓口">
                <a href="https://news.mynavi.jp" target="_blank">https://news.mynavi.jp</a>
            </div>
            <div class="media_card_summary__item--content__tags mt-20">
                <span>約4939万PV</span>
                <span>約906万UU</span>
                <span>妊婦・未就学児パパママ</span>
                <span>医師監修体制</span>
                <span>悩みキーワード流入</span>
            </div>
        </div>
        <div class="media_card_summary__item--thumbnail">
            <img src="/assets/img/thumbnail_student.jpg" alt="マイナビ学生の窓口のサムネイル">
        </div>
    </div>

    <div class="media_card_summary_explanation">
        <ul>
            <li class="media_card_summary_explanation_li">
                <h3 class="media_card_summary_explanation_h3">メディアコンセプト</h3>
                <p class="media_card_summary_p mt-10">
                    マイナビ学生の窓口は、大学進学を検討している高校生～大学生に向けて情報を届けるメディアです。学生は進学や就職だけではなく、長期休暇・学園祭・試験など多くのイベントがあり、積極的に情報収集を行っています。そんな彼らに向けて役立つ情報を発信していくことで、学生生活をサポートします。
                </p>
            </li>
            <li class="media_card_summary_explanation_li mt-20">
                <h3 class="media_card_summary_explanation_h3">ユーザー/特徴</h3>
                <p class="media_card_summary_explanation_p mt-10">
                    マイナビ学生の窓口のメインユーザーは、大学進学を検討している高校生～大学生のZ世代。約200万人を超える学生の会員データを保持しており、マイナビグループが展開するサービスに訪れ、自主的に登録している層が多いのが特徴です。学生との交流を持つことで、“今”を生きる学生のリアルな声を反映したコンテンツを発信しています。
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="media_card_summary teens">
    <div id="news" class="media_card_summary__item mt-40">
        <div class="media_card_summary__item--content">
            <h3>マイナビティーンズ</h3>
            <div class="media_card_summary__item--content__header">
                <img src="/assets/img/teens_logo.svg" alt="マイナビティーンズ">
                <a href="https://news.mynavi.jp" target="_blank">https://news.mynavi.jp</a>
            </div>
            <div class="media_card_summary__item--content__tags mt-20">
                <span>約4939万PV</span>
                <span>約906万UU</span>
                <span>妊婦・未就学児パパママ</span>
                <span>医師監修体制</span>
                <span>悩みキーワード流入</span>
            </div>
        </div>
        <div class="media_card_summary__item--thumbnail">
            <img src="/assets/img/thumbnail_teens.jpg" alt="マイナビティーンズのサムネイル">
        </div>
    </div>

    <div class="media_card_summary_explanation">
        <ul>
            <li class="media_card_summary_explanation_li">
                <h3 class="media_card_summary_explanation_h3">メディアコンセプト</h3>
                <p class="media_card_summary_p mt-10">
                    マイナビ学生の窓口は、大学進学を検討している高校生～大学生に向けて情報を届けるメディアです。学生は進学や就職だけではなく、長期休暇・学園祭・試験など多くのイベントがあり、積極的に情報収集を行っています。そんな彼らに向けて役立つ情報を発信していくことで、学生生活をサポートします。
                </p>
            </li>
            <li class="media_card_summary_explanation_li mt-20">
                <h3 class="media_card_summary_explanation_h3">ユーザー/特徴</h3>
                <p class="media_card_summary_explanation_p mt-10">
                    マイナビ学生の窓口のメインユーザーは、大学進学を検討している高校生～大学生のZ世代。約200万人を超える学生の会員データを保持しており、マイナビグループが展開するサービスに訪れ、自主的に登録している層が多いのが特徴です。学生との交流を持つことで、“今”を生きる学生のリアルな声を反映したコンテンツを発信しています。
                </p>
            </li>
        </ul>
    </div>
</div>