<div class="media_detail_ad_menu woman_advertisement">
    <div class="media_detail_ad_menu_box">
        <a href="#">タイアップ記事</a>
        <a href="#">オフィス<br>サンプリング企画</a>
        <a href="#">イベント企画</a>
        <a href="#">動画広告</a>
        <a href="#">SNS広告</a>
        <a href="#">運用型広告</a>
        <a href="#">オウンドメディア支援</a>
        <a href="#">店頭販促ツール</a>
        <a href="#">交通広告</a>
        <a href="#">WEBアンケート調査</a>
    </div>
</div>

<div class="media_detail_ad_menu news_advertisement">
    <div class="media_detail_ad_menu_box">
        <a href="#">タイアップ記事</a>
        <a href="#">オフィス<br>サンプリング企画</a>
        <a href="#">イベント企画</a>
        <a href="#">動画広告</a>
        <a href="#">SNS広告</a>
        <a href="#">運用型広告</a>
        <a href="#">オウンドメディア支援</a>
        <a href="#">店頭販促ツール</a>
        <a href="#">交通広告</a>
        <a href="#">WEBアンケート調査</a>
    </div>
</div>

<div class="media_detail_ad_menu child_advertisement">
    <div class="media_detail_ad_menu_box">
        <a href="#">専門家ノウハウ<br>パッケージ</a>
        <a href="#">モニターサンプリング<br>パッケージ</a>
    </div>
</div>

<div class="media_detail_ad_menu student_advertisement">
    <div class="media_detail_ad_menu_box">
        <a href="#">タイアップ記事</a>
        <a href="#">SNS広告</a>
        <a href="#">DSP広告</a>
        <a href="#">モニターサンプリング<br>企画</a>
        <a href="#">運用型広告</a>
        <a href="#">動画広告</a>
        <a href="#">DM企画</a>
        <a href="#">マイナビEXPO</a>
        <a href="#">キャリア甲子園</a>
        <a href="#">イベント企画</a>
        <a href="#">WEBアンケート調査</a>
        <a href="#">ワークショップ</a>
        <a href="#">学生インタビュー</a>
    </div>
</div>

<div class="media_detail_ad_menu teens_advertisement">
    <div class="media_detail_ad_menu_box">
        <a href="#">タイアップ記事</a>
        <a href="#">SNS広告</a>
        <a href="#">DSP広告</a>
        <a href="#">モニターサンプリング<br>企画</a>
        <a href="#">運用型広告</a>
        <a href="#">動画広告</a>
        <a href="#">DM企画</a>
        <a href="#">マイナビEXPO</a>
        <a href="#">キャリア甲子園</a>
        <a href="#">イベント企画</a>
        <a href="#">WEBアンケート調査</a>
        <a href="#">ワークショップ</a>
        <a href="#">学生インタビュー</a>
    </div>
</div>
