<a id="media_card_secondary" class="news" href="#">
    <img class="media_card_secondary_img" alt="" src="/assets/img/news_logo.svg">
    <p class="media_card_secondary_text">
        マイナビニュースはビジネスパーソンのON/OFF、男女を問わず、幅広いジャンルの情報を提供する総合ニュースメディアです。ニュースに限らず、役立つノウハウや体験レポート、まじめなレビュー、柔らかい記事から硬派な記事まで網羅しています。
    </p>
    <p class="media_card_secondary_btn">媒体資料はこちら</p>
</a>

<a id="media_card_secondary" class="woman" href="#">
    <img class="media_card_secondary_img" alt="" src="/assets/img/woman_logo.svg">
    <p class="media_card_secondary_text">
        マイナビウーマンは、20～30代の働く女性に向けて、前へ進むヒントや変化する後押しとなる情報を届けるメディアです。さまざまな生き方、選択肢を提示することで、女性たちの自由で自立した人生を応援します。
    </p>
    <p class="media_card_secondary_btn">媒体資料はこちら</p>
</a>

<a id="media_card_secondary" class="child" href="#">
    <img class="media_card_secondary_img" alt="" src="/assets/img/woman_logo.svg">
    <p class="media_card_secondary_text">
        マイナビ子育ては、妊娠中・育児中のママ、共働き家庭を応援するメディアです。「夫婦一緒に子育て」をコンセプトに、『パパ・ママ一緒に子育て＆家事』を行うことを促進する情報を発信していきます。
    </p>
    <p class="media_card_secondary_btn">媒体資料はこちら</p>
</a>

<a id="media_card_secondary" class="student" href="#">
    <img class="media_card_secondary_img" alt="" src="/assets/img/student_logo.svg">
    <p class="media_card_secondary_text">
        マイナビ学生の窓口は、大学進学を検討している高校生～大学生に向けて情報を届けるメディアです。「一歩踏み出せば世界が変わる。学生のはじめの一歩を応援したい。」というコンセプトのもと、学生生活が充実するための情報を発信していきます。
    </p>
    <p class="media_card_secondary_btn">媒体資料はこちら</p>
</a>

<a id="media_card_secondary" class="teens" href="#">
    <img class="media_card_secondary_img" alt="" src="/assets/img/teens_logo.svg">
    <p class="media_card_secondary_text">
        マイナビティーンズは、13～19歳のアクティブな10代女子に向けたYouTube連動型の新感覚サイトです。ティーンが自らファッション、ビューティー、エンタメなどの分野を体験できる情報が満載のサイトです。
    </p>
    <p class="media_card_secondary_btn">媒体資料はこちら</p>
</a>