<div class="media_detail_ad_menu woman_advertisement">
    <div class="media_detail_ad_menu_box">
        <p>タイアップ記事</p>
        <p>オフィス<br>サンプリング</p>
        <p>イベント企画</p>
        <p>動画広告</p>
        <p>SNS広告</p>
        <p>運用型広告</p>
        <p>オウンドメディア支援</p>
        <p>店頭販促ツール</p>
        <p>WEBアンケート調査</p>
        <p>メディアアンバサダー起用</p>
    </div>
    <p class="media_detail_ad_menu_text">その他、課題に合わせてご提案いたします。</p>
</div>

<div class="media_detail_ad_menu news_advertisement">
    <div class="media_detail_ad_menu_box">
        <p>タイアップ記事</p>
        <p>WEBアンケート調査</p>
        <p>マンガ・イラスト活用</p>
        <p>運用型広告</p>
        <p>オウンドメディア支援</p>
        <p>イベント企画</p>
        <p>SNSキャンペーン</p>
        <p>SNS広告</p>
        <p>動画広告</p>
        <p>サンプリング</p>
    </div>
    <p class="media_detail_ad_menu_text">その他、課題に合わせてご提案いたします。</p>
</div>

<div class="media_detail_ad_menu child_advertisement">
    <div class="media_detail_ad_menu_box">
        <p>タイアップ記事</p>
        <p>専門家監修</p>
        <p>Instagram単体企画</p>
        <p>モニターサンプリング</p>
        <p>動画広告</p>
        <p>SNS広告</p>
        <p>運用型広告</p>
        <p>オウンドメディア支援</p>
        <p>WEBアンケート調査</p>
    </div>
    <p class="media_detail_ad_menu_text">その他、課題に合わせてご提案いたします。</p>
</div>

<div class="media_detail_ad_menu student_advertisement">
    <div class="media_detail_ad_menu_box">
        <p>タイアップ記事</p>
        <p>インフルエンサー起用</p>
        <p>学生団体コラボ</p>
        <p>SNS広告／DSP広告</p>
        <p>モニターサンプリング</p>
        <p>学生インタビュー</p>
        <p>動画広告</p>
        <p>DM企画</p>
        <p>マイナビEXPO</p>
        <p>マイナビEXPO</p>
        <p>WEBアンケート調査</p>
    </div>
    <p class="media_detail_ad_menu_text">その他、課題に合わせてご提案いたします。</p>
</div>

<div class="media_detail_ad_menu teens_advertisement">
    <div class="media_detail_ad_menu_box">
        <p>タイアップ記事</p>
        <p>ティーンによるインタビュー</p>
        <p>WEBアンケート調査</p>
        <p>グループインタビュー<br>企画</p>
        <p>商品開発プラン</p>
        <p>集客プラン</p>
        <p>試写会専用集客プラン</p>
        <p>インフルエンサー起用</p>
    </div>
    <p class="media_detail_ad_menu_text">その他、課題に合わせてご提案いたします。</p>
</div>