<div class="media_detail_ad_menu woman_advertisement">
    <div class="media_detail_ad_menu_box">
        <a href="#">タイアップ記事</a>
        <a href="#">オフィス<br>サンプリング</a>
        <a href="#">イベント企画</a>
        <a href="#">動画広告</a>
        <a href="#">SNS広告</a>
        <a href="#">運用型広告</a>
        <a href="#">オウンドメディア支援</a>
        <a href="#">店頭販促ツール</a>
        <a href="#">WEBアンケート調査</a>
        <a href="#">メディアアンバサダー起用</a>
    </div>
</div>

<div class="media_detail_ad_menu news_advertisement">
    <div class="media_detail_ad_menu_box">
        <a href="#">タイアップ記事</a>
        <a href="#">WEBアンケート調査</a>
        <a href="#">マンガ・イラスト活用</a>
        <a href="#">運用型広告</a>
        <a href="#">オウンドメディア支援</a>
        <a href="#">イベント企画</a>
        <a href="#">SNSキャンペーン</a>
        <a href="#">SNS広告</a>
        <a href="#">動画広告</a>
        <a href="#">サンプリング</a>
    </div>
</div>

<div class="media_detail_ad_menu child_advertisement">
    <div class="media_detail_ad_menu_box">
        <a href="#">タイアップ記事</a>
        <a href="#">専門家監修</a>
        <a href="#">Instagram単体企画</a>
        <a href="#">モニターサンプリング</a>
        <a href="#">動画広告</a>
        <a href="#">SNS広告</a>
        <a href="#">運用型広告</a>
        <a href="#">オウンドメディア支援</a>
        <a href="#">WEBアンケート調査</a>
    </div>
</div>

<div class="media_detail_ad_menu student_advertisement">
    <div class="media_detail_ad_menu_box">
        <a href="#">タイアップ記事</a>
        <a href="#">インフルエンサー起用</a>
        <a href="#">学生団体コラボ</a>
        <a href="#">SNS広告／DSP広告</a>
        <a href="#">モニターサンプリング</a>
        <a href="#">学生インタビュー</a>
        <a href="#">動画広告</a>
        <a href="#">DM企画</a>
        <a href="#">マイナビEXPO</a>
        <a href="#">マイナビEXPO</a>
        <a href="#">WEBアンケート調査</a>
    </div>
</div>

<div class="media_detail_ad_menu teens_advertisement">
    <div class="media_detail_ad_menu_box">
        <a href="#">タイアップ記事</a>
        <a href="#">ティーンによるインタビュー</a>
        <a href="#">WEBアンケート調査</a>
        <a href="#">グループインタビュー<br>企画</a>
        <a href="#">商品開発プラン</a>
        <a href="#">集客プラン</a>
        <a href="#">試写会専用集客プラン</a>
        <a href="#">インフルエンサー起用</a>
    </div>
</div>
