<div class="media_detail_accordion">
    <div class="media_detail_accordion_title mt-40">
      <h3 class="media_detail_accordion_h3">こんなお悩みご相談ください</h3>
      <div class="title_line_line"></div>
    </div>
    <div class="media_detail_accordion_qa_Container">
      <div class="qa_box">
        <div class="qa_q">
          <p class="q_txt">新商品をリリースしたので、認知拡大を狙いたいが効果的な方法が分からない。<br>
            売り場と連動した広告施策を行いたいが、効果的な方法が分からない。</p>
          <div class="toggle_icon"></div>
        </div>
        <div class="qa_a">
          <p class="a_txt">カテゴリ常設、記事広告、SNSを含む他メディアへの転載、動画広告、POP制作など貴社にあったプランをご提案可能です。</p>
        </div>
      </div>
      <div class="qa_box">
        <div class="qa_q">
          <p class="q_txt">自社商品をアプローチすべきターゲットの策定からプランニングをしてほしい。<br>
            SNSを使った話題醸成を狙いたいが、ネタが思い浮かばない。<br>
            商品の販路拡大のため流通対策をしたい。</p>
          <div class="toggle_icon"></div>
        </div>
        <div class="qa_a">
          <p class="a_txt">各メディアに専任のプランナーが在籍、読者を囲っているメディアだからこそできる広告プランニングをいたします。
          </p>
        </div>
      </div>
      <div class="qa_box">
        <div class="qa_q">
          <p class="q_txt">ターゲットの中でも顕在層にのみアプローチをしたいが、方法が分からない。</p>
          <div class="toggle_icon"></div>
        </div>
        <div class="qa_a">
          <p class="a_txt">マイナビメディアのドメインパワーを利用した広告プランなど多数ご用意しています。
          </p>
        </div>
      </div>
      <div class="qa_box">
        <div class="qa_q">
          <p class="q_txt">毎月の広告予算を価値ある資産として残したい。</p>
          <div class="toggle_icon"></div>
        </div>
        <div class="qa_a">
          <p class="a_txt">広告掲載後のソリューションも含めたプランをご提案可能です。</p>
        </div>
      </div>
      <div class="qa_box">
        <div class="qa_q">
          <p class="q_txt">動画施策やオウンドメディア運用を行いたいが、社内リソースが不足している。</p>
          <div class="toggle_icon"></div>
        </div>
        <div class="qa_a">
          <p class="a_txt">動画制作専任チーム・オウンドメディア支援専任チームが在籍、貴社にあった支援プランをご提案可能です。</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(function(){
              $('.qa_q').click(function(){
              $(this).next().slideToggle();
              $(this).toggleClass("open");
          });
      });
  </script>