<div class="media_detail_head">
    <div class="media_detail_head_text">
        <h2 class="media_detail_head_text_h2">マイナビウーマン媒体資料</h2>
        <p class="media_detail_head_text_feat">働く女性向けの広告掲載なら「マイナビウーマン」会員は、20～30代の正社員として働く未婚女性がボリュームゾーン。時間的にも金銭的にも余裕があり、購買意欲が高い優良顧客層です。女性向けプロモーションのご相談、女性インサイト調査は、マイナビウーマンまでお気軽にお問い合わせください。</p>
        <div class="media_detail_head_text_notice_box">
            <p class="media_detail_head_text_notice">お知らせ</p>
            <p class="media_detail_head_text_date">2022/12/11<span class="media_detail_head_text_update">2023年1～3月版資料を更新しました</span></p>
        </div>
    </div>
    <div class="media_detail_head_imgBox">
        <img class="media_detail_head_img" src="/assets/img/image 47.png" alt="マイナビウーマン画像">
    </div>
</div>