<div id="mov_card_primary">
    <a href="/movie/list/movie_detail/index.html" class="card_link"></a>
    <div class="mov_image_wrapper">
        <img src="/assets/img/movie_thumbnail.png" class="mov_card_primary_img">
    </div>
    <div class="mov_card_primary_detail">
        <h3 class="mov_card_primary_title">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介</h3>
        <ul class="sidebar_tag_wrapper">
            <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
            <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
        </ul>
    </div>
</div>