<div class="myMedia_titleBox_h3 article">
  <h3>お役立ち記事</h3>
  <a class="myMedia_titleBox_h3_btn" href="#">他の記事も見る</a>
</div>

<div class="myMedia_titleBox_h3 doc">
  <h3>お役立ち資料</h3>
  <a class="myMedia_titleBox_h3_btn" href="#">他の資料も見る</a>
</div>

<div class="myMedia_titleBox_h3 mov">
  <h3>お役立ち動画</h3>
  <a class="myMedia_titleBox_h3_btn" href="#">他の動画も見る</a>
</div>

<div class="myMedia_titleBox_h3 recommend_article">
  <h3>おすすめのお役立ち記事</h3>
  <a class="myMedia_titleBox_h3_btn" href="#">他の記事も見る</a>
</div>

<div class="myMedia_titleBox_h3 recommend_doc">
  <h3>おすすめのお役立ち資料</h3>
  <a class="myMedia_titleBox_h3_btn" href="#">他の資料も見る</a>
</div>

<div class="myMedia_titleBox_h3 recommend_mov">
  <h3>おすすめのお役立ち動画</h3>
  <a class="myMedia_titleBox_h3_btn" href="#">他の動画も見る</a>
</div>

<div class="myMedia_titleBox_h3 recommend_project">
  <h3>おすすめの企画</h3>
  <a class="myMedia_titleBox_h3_btn" href="#">他の企画も見る</a>
</div>

<div class="myMedia_titleBox_h3 recommend_media">
  <h3>マイナビメディアのご紹介</h3>
  <a class="myMedia_titleBox_h3_btn" href="#">メディアについて詳しく見る</a>
</div>

<div class="myMedia_titleBox_h3 case_detail">
  <h3>その他の事例</h3>
  <a class="myMedia_titleBox_h3_btn" href="#">他の事例も見る</a>
</div>