<!-- 繰り返し配置してますが、1つがコンポーネントです -->
<div class="myMedia_titleBox_h2 help">
  <p>Information</p>
  <h2 class="myMedia_titleBox_h2__title">お役立ち情報</h2>
</div>

<div class="myMedia_titleBox_h2 article">
  <p>Research Article</p>
  <h2 class="myMedia_titleBox_h2__title">調査記事一覧</h2>
</div>

<div class="myMedia_titleBox_h2 h1 search">
  <p>Search</p>
  <h2 class="myMedia_titleBox_h2__title">お役立ち情報検索</h2>
</div>

<div class="myMedia_titleBox_h2 h1 media">
  <p>Media</p>
  <h1 class="myMedia_titleBox_h2__title">メディア紹介</h1>
</div>


<div class="myMedia_titleBox_h2 h1 research_article">
  <p>Article</p>
  <h1 class="myMedia_titleBox_h2__title">お役立ち記事一覧</h1>
</div>

<div class="myMedia_titleBox_h2 h1 doc">
  <p>Document</p>
  <h1 class="myMedia_titleBox_h2__title">お役立ち資料一覧</h1>
</div>