<!-- 繰り返し配置してますが、1つがコンポーネントです -->
<div class="myMedia_titleBox_h2 help">
  <p>Information</p>
  <h2 class="myMedia_titleBox_h2__title">お役立ち情報</h2>
</div>

<div class="myMedia_titleBox_h2 article">
  <p>Research Article</p>
  <h2 class="myMedia_titleBox_h2__title">調査記事一覧</h2>
</div>

<div class="myMedia_titleBox_h2 h1 search">
  <p>Search</p>
  <h2 class="myMedia_titleBox_h2__title">お役立ち情報検索</h2>
</div>

<div class="myMedia_titleBox_h2 h1 media">
  <p>Media</p>
  <h1 class="myMedia_titleBox_h2__title">メディア紹介</h1>
</div>


<div class="myMedia_titleBox_h2 h1 research_article">
  <p>Article</p>
  <h1 class="myMedia_titleBox_h2__title">お役立ち記事一覧</h1>
</div>

<div class="myMedia_titleBox_h2 h1 doc">
  <p>Documet</p>
  <h1 class="myMedia_titleBox_h2__title">お役立ち資料一覧</h1>
</div>

<div class="myMedia_titleBox_h2 h1 doc_watch">
  <p>Documet</p>
  <h1 class="myMedia_titleBox_h2__title">お役立ち資料ダウンロード一覧</h1>
</div>

<div class="myMedia_titleBox_h2 h1 mov">
  <p>Movie</p>
  <h1 class="myMedia_titleBox_h2__title">お役立ち動画一覧</h1>
</div>

<div class="myMedia_titleBox_h2 h1 mov_watch">
  <p>Movie</p>
  <h1 class="myMedia_titleBox_h2__title">お役立ち動画　視聴一覧</h1>
</div>

<div class="myMedia_titleBox_h2 h1 feature">
  <p>Feature / Project</p>
  <h1 class="myMedia_titleBox_h2__title">特集・プロジェクト資料一覧</h1>
</div>

<div class="myMedia_titleBox_h2 h1 movie_form">
  <p>Downlaod</p>
  <h1 class="myMedia_titleBox_h2__title">動画視聴請求フォーム</h1>
</div>

<div class="myMedia_titleBox_h2 h1 feature_form">
  <p>Downlaod</p>
  <h1 class="myMedia_titleBox_h2__title">特集・プロジェクト資料請求フォーム</h1>
</div>

<div class="myMedia_titleBox_h2 h1 media_feature_watch">
  <p>Downlaod</p>
  <h1 class="myMedia_titleBox_h2__title">媒体/特集・プロジェクト資料ダウンロード</h1>
</div>

<div class="myMedia_titleBox_h2 h1 article_doc_form">
  <p>Downlaod</p>
  <h1 class="myMedia_titleBox_h2__title">調査資料請求フォーム</h1>
</div>

<div class="myMedia_titleBox_h2 h1 document_form">
  <p>Downlaod</p>
  <h1 class="myMedia_titleBox_h2__title">お役立ち資料請求フォーム</h1>
</div>

<div class="myMedia_titleBox_h2 h1 mail_magazine">
  <p>Mail Magazine</p>
  <h1 class="myMedia_titleBox_h2__title">メルマガ登録</h1>
</div>

<div class="myMedia_titleBox_h2 h1 mail_magazine_thanks">
  <p>Mail Magazine</p>
  <h1 class="myMedia_titleBox_h2__title">メルマガ登録ありがとうございます</h1>
</div>

<div class="myMedia_titleBox_h2 h1 mail_magazine_stop">
  <p>Mail Magazine</p>
  <h1 class="myMedia_titleBox_h2__title">メール受信設定</h1>
</div>

<div class="myMedia_titleBox_h2 h1 Case">
  <p>Case</p>
  <h1 class="myMedia_titleBox_h2__title">広告事例</h1>
</div>

<div class="myMedia_titleBox_h2 h1 contact">
  <p>Contact</p>
  <h1 class="myMedia_titleBox_h2__title">マイナビメディアお問い合わせ</h1>
</div>

<div class="myMedia_titleBox_h2 h1 contact_thanks">
  <p>Thanks</p>
  <h1 class="myMedia_titleBox_h2__title">お問い合わせありがとうございます</h1>
</div>

<div class="myMedia_titleBox_h2 h1 article_dow_thanks">
  <p>Thanks</p>
  <h1 class="myMedia_titleBox_h2__title">フォームのご入力ありがとうございました</h1>
</div>

<div class="myMedia_titleBox_h2 h1 media_form">
  <p>Downlaod</p>
  <h1 class="myMedia_titleBox_h2__title">媒体資料請求フォーム</h1>
</div>

<div class="myMedia_titleBox_h2 h1 privacy_policy">
  <p>Privacy Policy</p>
  <h1 class="myMedia_titleBox_h2__title">広告お問い合わせにおける個人情報の取り扱いについて</h1>
</div>