<ul class="pagination">
    <li class="pagination_item">
        <a class="pagination_item_link" href="/pages/1/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6" style="width: 20px">
                <path stroke-linecap=" round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
        </a>
    </li>
    <li class="pagination_item">
        <a class="pagination_item_link" href="/pages/1/"><span>1</span></a>
    </li>
    <li class="pagination_item">
        <a class="pagination_item_link isActive" href="/pages/2/"><span>2</span></a>
    </li>
    <li class="pagination_item">
        <a class="pagination_item_link" href="/pages/3/"><span>3</span></a>
    </li>
    <li class="pagination_item">
        <a class="pagination_item_link" href="/pages/4/"><span>4</span></a>
    </li>
    <li class="pagination_item">
        <a class="pagination_item_link" href="/pages/5/"><span>5</span></a>
    </li>
    <li class="pagination_item">
        <a class="pagination_item_link" href="/pages/5/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6" style="width: 20px">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
        </a>
    </li>
</ul>