<div class="research_article_card_primary">
    <a href="" class="card_link"></a>
    <img src="/assets/img/image 21.png" class="research_article_card_primary_img">
    <div class="research_article_card_primary_detail">
        <p class="research_article_card_primary_date">2022.12.12</p>
        <h3 class="research_article_card_primary_title">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介</h3>
        <p class="research_article_card_primary_text">
            「推し消費」についてのインサイトをお届け！マイナビニュースでは、抜け出せないほど何かに夢中になっている状態＝「沼落ち」しているという意味でオタク女子のことを『沼女子』と呼んでいます。消費の起点が「推し」になっている彼女達にアンケート調査を実施し、その消費傾向を読み解きます。
        </p>
        <ul class="sidebar_tag_wrapper">
            <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
            <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
        </ul>
    </div>
</div>