<!-- 依頼事項：WP Custom Fields Searchを使用する前提で作成しています。 -->

<div class="search_area_box">

<form method="get" action="https://wordpresstest.local" class="wpcfs-search-form" id="preset-1/1">
  <div class="wpcfs-input-wrapper wpcfs-input-input f1  textinput">
    <label for="preset-1/1/f1" class="wpcfs-label">
      キーワード入力            
    </label>
    <div class="wpcfs-input">
      <input type="text" name="f1" id="preset-1/1/f1" value="" placeholder="キーワード入力">
    </div>
  </div>
  <div class="wpcfs-input-wrapper wpcfs-input-input f2  checkboxes">
    <label for="preset-1/1/f2" class="wpcfs-label">
      カテゴリ            
    </label>
    <div class="wpcfs-input">

      <ul class="wpcfs-checkboxes">
        <li>
          <input type="checkbox" name="f2[]" value="Uncategorized" id="f2-1">
          <label for="f2-1">調査記事	</label>
        </li>
        <li>
          <input type="checkbox" name="f2[]" value="あさひ" id="f2-2">
          <label for="f2-2">資料</label>
        </li>
        <li>
          <input type="checkbox" name="f2[]" value="アメリカ" id="f2-3">
          <label for="f2-3">動画</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="wpcfs-input-wrapper wpcfs-input-input f3  checkboxes">
    <label for="preset-1/1/f3" class="wpcfs-label">
      タグ            
    </label>
    <div class="wpcfs-input">

      <ul class="wpcfs-checkboxes">
        <li><input type="checkbox" name="f3[]" value="Z世代" id="f3-1"><label for="f3-1">
          Z世代</label></li>
        <li><input type="checkbox" name="f3[]" value="ミレニアル世代" id="f3-2"><label for="f3-2">
          ミレニアル世代</label></li>
        <li><input type="checkbox" name="f3[]" value="F1層" id="f3-3"><label for="f3-3">
          F1層</label></li>
        <li><input type="checkbox" name="f3[]" value="子育て層" id="f3-4"><label for="f3-4">
          子育て層</label></li>
        <li><input type="checkbox" name="f3[]" value="大学生" id="f3-5"><label for="f3-5">
          大学生</label></li>
        <li><input type="checkbox" name="f3[]" value="高校生" id="f3-6"><label for="f3-6">
          高校生</label></li>
        <li><input type="checkbox" name="f3[]" value="新社会人" id="f3-7"><label for="f3-7">
          新社会人</label></li>
        <li><input type="checkbox" name="f3[]" value="就活生" id="f3-8"><label for="f3-8">
          就活生</label></li>
        <li><input type="checkbox" name="f3[]" value="働く女性" id="f3-9"><label for="f3-9">
          働く女性</label></li>
        <li><input type="checkbox" name="f3[]" value="共働き" id="f3-10"><label for="f3-10">
          共働き</label></li>
        <li><input type="checkbox" name="f3[]" value="パパ・ママ" id="f3-11"><label for="f3-11">
          パパ・ママ</label></li>
        <li><input type="checkbox" name="f3[]" value="α世代" id="f3-12"><label for="f3-12">
          α世代</label></li>
        <li><input type="checkbox" name="f3[]" value="10代" id="f3-13"><label for="f3-13">
          10代</label></li>
        <li><input type="checkbox" name="f3[]" value="トレンド" id="f3-14"><label for="f3-14">
          トレンド</label></li>
        <li><input type="checkbox" name="f3[]" value="ランキング" id="f3-15"><label for="f3-15">
          ランキング</label></li>
        <li><input type="checkbox" name="f3[]" value="SNS" id="f3-16"><label for="f3-16">
          SNS</label></li>
        <li><input type="checkbox" name="f3[]" value="SDGs" id="f3-17"><label for="f3-17">
          SDGs</label></li>
        <li><input type="checkbox" name="f3[]" value="推し消費" id="f3-18"><label for="f3-18">
          推し消費</label></li>
        <li><input type="checkbox" name="f3[]" value="ヘルスケア" id="f3-19"><label for="f3-19">
          ヘルスケア</label></li>
        <li><input type="checkbox" name="f3[]" value="フェムテック" id="f3-20"><label for="f3-20">
          フェムテック</label></li>
        <li><input type="checkbox" name="f3[]" value="美容" id="f3-21"><label for="f3-21">
          美容</label></li>
        <li><input type="checkbox" name="f3[]" value="動画" id="f3-22"><label for="f3-22">
          動画</label></li>
        <li><input type="checkbox" name="f3[]" value="記事広告" id="f3-23"><label for="f3-23">
          記事広告</label></li>
      </ul>
    </div>
  </div>

  <div class="wpcfs-input-wrapper wpcfs-input-submit">
    <input type="submit" value="絞り込む">
  </div>

  <input type="hidden" name="wpcfs" value="preset-1"></form>


  
</div>