<div class="search_bar">
    <form action="http://127.0.0.1:5501/movie/list/index.html" method="get">
        <input id="watch_list_search" id="s" name="s" type="text" placeholder="キーワードで検索" />
    </form>

    <div class="useful_watch_list_tab">
        <p>並び順：</p>
        <a class="useful_watch_link useful_watch_link_enabled" href="#">新しい順</a>
        <span class="usefle_watch_list_line"></span>
        <a class="useful_watch_link useful_watch_link_disabled" href="#">古い順</a>
        <span class="usefle_watch_list_line"></span>
        <a class="useful_watch_link useful_watch_link_disabled" href="#">人気順</a>
    </div>
</div>