<!-- ========= サイドバーのhtml =============== -->
<div class="sidebar">
    <div class="sidebar_contents_wrapper">
        <!-- ========= よく見られいてるタグーのhtml=============== -->
        <div class="sidebar_well_tag_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">よく見られているタグ</h3>
            </div>
            <ul class="sidebar_tag_wrapper">
                <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
            </ul>
            <div class="tag_more"><a href="/search/index.html">もっと見る</a></div>
        </div>
        <!-- ========= タグのhtml =============== -->
        <div class="sidebar_tag_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">タグ</h3>
            </div>
            <div class="sidebar_tag_group">
                <p class="sidebar_tag_category">カテゴリ</p>
                <ul class="sidebar_tag_wrapper">
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                </ul>
            </div>
            <div class="sidebar_tag_group">
                <p class="sidebar_tag_category">カテゴリ</p>
                <ul class="sidebar_tag_wrapper">
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                </ul>
            </div>
            <div class="sidebar_tag_group">
                <p class="sidebar_tag_category">カテゴリ</p>
                <ul class="sidebar_tag_wrapper">
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="/search/result/index.html">共働き夫婦</a></li>
                </ul>
            </div>
            <div class="tag_more"><a href="/search/index.html">もっと見る</a></div>
        </div>
        <!-- ========= おすすめの記事のhtml =============== -->
        <div class="sidebar_recommend_article_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">おすすめの記事</h3>
            </div>
            <ul class="sidebar_recommend_wrapper">
                <li>
                    <a class="sidebar_recommend_item" href="/column/article_detail/index.html">
                        <img src="../../assets/img/research_article_thumbnail.png" class="sidebar_recommend_img">
                        <p class="sidebar_recommend_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
                <li>
                    <a class="sidebar_recommend_item" href="/column/article_detail/index.html">
                        <img src="../../assets/img/research_article_thumbnail.png" class="sidebar_recommend_img">
                        <p class="sidebar_recommend_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
                <li>
                    <a class="sidebar_recommend_item" href="/column/article_detail/index.html">
                        <img src="../../assets/img/research_article_thumbnail.png" class="sidebar_recommend_img">
                        <p class="sidebar_recommend_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- ========= おすすめの資料のhtml =============== -->
        <div class="sidebar_recommend_article_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">おすすめの資料</h3>
            </div>
            <ul class="sidebar_recommend_wrapper">
                <li>
                    <a class="sidebar_recommend_item" href="/document/document_detail/index.html">
                        <img src="../../assets/img/doc_thumbnail.png" class="sidebar_recommend_img">
                        <p class="sidebar_recommend_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
                <li>
                    <a class="sidebar_recommend_item" href="/document/document_detail/index.html">
                        <img src="../../assets/img/doc_thumbnail.png" class="sidebar_recommend_img">
                        <p class="sidebar_recommend_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
                <li>
                    <a class="sidebar_recommend_item" href="/document/document_detail/index.html">
                        <img src="../../assets/img/doc_thumbnail.png" class="sidebar_recommend_img">
                        <p class="sidebar_recommend_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- ========= おすすめの動画のhtml =============== -->
        <div class="sidebar_recommend_article_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">おすすめの動画</h3>
            </div>
            <ul class="sidebar_recommend_wrapper">
                <li>
                    <a class="sidebar_recommend_item" href="/movie/list/movie_detail/index.html">
                        <img src="../../assets/img/movie_thumbnail.png" class="sidebar_recommend_img">
                        <p class="sidebar_recommend_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
                <li>
                    <a class="sidebar_recommend_item" href="/movie/list/movie_detail/index.html">
                        <img src="../../assets/img/movie_thumbnail.png" class="sidebar_recommend_img">
                        <p class="sidebar_recommend_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>

            </ul>
        </div>
        <!-- ========= お役立ち情報のhtml =============== -->
        <div class="sidebar_recommend_article_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">お役立ち情報</h3>
            </div>
            <ul class="sidebar_useful_info_wrapper">
                <li class="sidebar_useful_info_item">
                    <a href="/column/index.html" class="sidebar_useful_info_item_text">お役立ち記事一覧<img
                            class="sidebar_useful_info_item_icon" src="../../assets/img/arrow_right.svg"></a>
                </li>
                <li class="sidebar_useful_info_item">
                    <a href="/document/index.html" class="sidebar_useful_info_item_text">お役立ち資料一覧<img
                            class="sidebar_useful_info_item_icon" src="../../assets/img/arrow_right.svg"></a>
                </li>
                <li class="sidebar_useful_info_item">
                    <a href="/movie/index.html" class="sidebar_useful_info_item_text">お役立ち動画一覧<img
                            class="sidebar_useful_info_item_icon" src="../../assets/img/arrow_right.svg"></a>
                </li>
            </ul>
        </div>
        <!-- ========= バナーのhtml =============== -->
        <div class="sidebar_recommend_article_container sidebar_layout">
            <ul class="sidebar_banner_wrapper">
                <a href="">
                    <li class="sidebar_banner_item">
                        <img src="../../assets/img/banner_1.png" class="sidebar_banner_item_img">
                    </li>
                </a>
                <a href="">
                    <li class="sidebar_banner_item">
                        <img src="../../assets/img/banner_1.png" class="sidebar_banner_item_img">
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>