<!-- ========= サイドバーのhtml =============== -->
<div class="sidebar">
    <div class="sidebar_contents_wrapper">
        <!-- ========= よく見られいてるタグーのhtml=============== -->
        <div class="sidebar_well_tag_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">よく見られているタグ</h3>
            </div>
            <ul class="sidebar_tag_wrapper">
                <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
            </ul>
            <div class="tag_more"><a href="#">もっと見る</a></div>
        </div>
        <!-- ========= タグのhtml =============== -->
        <div class="sidebar_tag_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">タグ</h3>
            </div>
            <div class="sidebar_tag_group">
                <p class="sidebar_tag_category">カテゴリ</p>
                <ul class="sidebar_tag_wrapper">
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                </ul>
            </div>
            <div class="sidebar_tag_group">
                <p class="sidebar_tag_category">カテゴリ</p>
                <ul class="sidebar_tag_wrapper">
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                </ul>
            </div>
            <div class="sidebar_tag_group">
                <p class="sidebar_tag_category">カテゴリ</p>
                <ul class="sidebar_tag_wrapper">
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                    <li><a class="sidebar_tag" href="#">共働き夫婦</a></li>
                </ul>
            </div>
            <div class="tag_more"><a href="#">もっと見る</a></div>
        </div>
        <!-- ========= おすすめの記事のhtml =============== -->
        <div class="sidebar_recommend_article_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">おすすめの記事</h3>
            </div>
            <ul class="sidebar_recommend_article_wrapper">
                <li>
                    <a class="sidebar_recommend_article_item">
                        <img src="/img/image 21.png" class="sidebar_recommend_article_img">
                        <p class="sidebar_recommend_article_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
                <li>
                    <a class="sidebar_recommend_article_item">
                        <img src="/img/image 21.png" class="sidebar_recommend_article_img">
                        <p class="sidebar_recommend_article_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
                <li>
                    <a class="sidebar_recommend_article_item">
                        <img src="/img/image 21.png" class="sidebar_recommend_article_img">
                        <p class="sidebar_recommend_article_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- ========= おすすめの資料のhtml =============== -->
        <div class="sidebar_recommend_article_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">おすすめの資料</h3>
            </div>
            <ul class="sidebar_recommend_article_wrapper">
                <li>
                    <a class="sidebar_recommend_article_item">
                        <img src="/img/image 22.png" class="sidebar_recommend_article_img">
                        <p class="sidebar_recommend_article_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
                <li>
                    <a class="sidebar_recommend_article_item">
                        <img src="/img/image 22.png" class="sidebar_recommend_article_img">
                        <p class="sidebar_recommend_article_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
                <li>
                    <a class="sidebar_recommend_article_item">
                        <img src="/img/image 22.png" class="sidebar_recommend_article_img">
                        <p class="sidebar_recommend_article_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- ========= おすすめの動画のhtml =============== -->
        <div class="sidebar_recommend_article_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">おすすめの動画</h3>
            </div>
            <ul class="sidebar_recommend_article_wrapper">
                <li>
                    <a class="sidebar_recommend_article_item">
                        <img src="/img/image 23.png" class="sidebar_recommend_article_img">
                        <p class="sidebar_recommend_article_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>
                <li>
                    <a class="sidebar_recommend_article_item">
                        <img src="/img/image 23.png" class="sidebar_recommend_article_img">
                        <p class="sidebar_recommend_article_text">オフィスで感じるストレスの要因や業務に及ぼす影響、改善方法を紹介及ぼす影響、改善方法を紹</p>
                    </a>
                </li>

            </ul>
        </div>
        <!-- ========= お役立ち情報のhtml =============== -->
        <div class="sidebar_recommend_article_container sidebar_layout">
            <div class="sidebar_title">
                <h3 class="sidebar_title_h3">お役立ち情報</h3>
            </div>
            <ul class="sidebar_useful_info_wrapper">
                <li class="sidebar_useful_info_item">
                    <a href="" class="sidebar_useful_info_item_text">調査記事一覧</a>
                    <img class="sidebar_useful_info_item_icon" src="/img/arrow_right.svg">
                </li>
                <li class="sidebar_useful_info_item">
                    <a href="" class="sidebar_useful_info_item_text">調査記事一覧</a>
                    <img class="sidebar_useful_info_item_icon" src="/img/arrow_right.svg">
                </li>
                <li class="sidebar_useful_info_item">
                    <a href="" class="sidebar_useful_info_item_text">調査記事一覧</a>
                    <img class="sidebar_useful_info_item_icon" src="/img/arrow_right.svg">
                </li>
            </ul>
        </div>
        <!-- ========= バナーのhtml =============== -->
        <div class="sidebar_recommend_article_container sidebar_layout">
            <ul class="sidebar_banner_wrapper">
                <li class="sidebar_banner_item">
                    <img src="/img/image 15.png" class="sidebar_banner_item_img">
                </li>
                <li class="sidebar_banner_item">
                    <img src="/img/image 15.png" class="sidebar_banner_item_img">
                </li>
                <li class="sidebar_banner_item">
                    <img src="/img/image 15.png" class="sidebar_banner_item_img">
                </li>
            </ul>
        </div>
    </div>
</div>