<div class="sns_lgs">
    <ul class="sns_lgs_ul">
        <li class="sns_lgs_tw">
            <a class="js-sns-link" href="//twitter.com/intent/tweet?text=&url=" target="_blank"
                rel="nofollow noopener noreferrer">
            </a>
            <img src="/assets/img/logo_twitter.svg" alt="">
        </li>
        <li class="sns_lgs_fb">
            <a class="js-sns-link" href="//www.facebook.com/sharer/sharer.php?u=&t=" target="_blank"
                rel="nofollow noopener noreferrer">
            </a>
            <img src="/assets/img/logo_facebook.svg" alt="">
        </li>
        <li>
            <a class="js-sns-link" href="//timeline.line.me/social-plugin/share?url=&text=" target="_blank"
                rel="nofollow noopener noreferrer">
            </a>
            <img src="/assets/img/logo_LINE.svg" alt="">
        </li>
    </ul>
</div>