<ul class="sns_logos">
    <li class="sns_logos_tw">
        <a href="//twitter.com/intent/tweet?url=" target="_blank">
            <img src="/assets/img/Twitter social icons - circle - blue 1.png" alt="">
        </a>
    </li>
    <li class="sns_logos_fb">
        <a href="//www.facebook.com/sharer/sharer.php?u=シェアするページのURL&t=" target="_blank"
            rel="nofollow noopener noreferrer">
            <img src="/assets/img/f_logo_RGB-Blue_250 1.png" alt="">
        </a>
    </li>
    <li class="sns_logos_line">
        <a href="//timeline.line.me/social-plugin/share?url=シェアするページのURL&text=" target="_blank"
            rel="nofollow noopener noreferrer">
            <img src="/assets/img/LINE_APP_Android 1.png" alt="">
        </a>
    </li>
</ul>