<h2 class="title_section branding" id="branding">認知拡大・ブランディングを目的とした広告事例</h2>
<h2 class="title_section SNS" id="sns">SNSでの話題醸成を目的とした広告事例</h2>
<h2 class="title_section dismarketing" id="distribution">販売店への流通対策・来店促進を目的とした広告事例</h2>
<h2 class="title_section fanmarketing" id="fan">ファンマーケティングを目的とした広告事例</h2>
<h2 class="title_section owndmedia" id="owned">オウンドメディア支援事例</h2>

<h2 class="title_section feature">特集企画</h2>
<h2 class="title_section project">プロジェクト資料他</h2>
<h2 class="title_section article">調査記事</h2>
<h2 class="title_section doc">資料</h2>
<h2 class="title_section mov">動画</h2>
<h2 class="title_section program">プログラム</h2>

<h2 class="title_section woman-advertisement">マイナビウーマン 広告メニュー</h2>
<h2 class="title_section woman-client">マイナビウーマン　クライアント実績</h2>
<h2 class="title_section woman-category">マイナビニュースカテゴリのご紹介</h2>
<h2 class="title_section woman-strength">マイナビウーマンの強み</h2>

<h2 class="title_section news-advertisement">マイナビニュース 広告メニュー</h2>
<h2 class="title_section news-client">マイナビニュース　クライアント実績</h2>
<h2 class="title_section news-category">マイナビニュースカテゴリのご紹介</h2>

<h2 class="title_section child-advertisement">マイナビ子育て 広告メニュー</h2>
<h2 class="title_section child-client">マイナビ子育て　クライアント実績</h2>
<h2 class="title_section child-category">マイナビニュースカテゴリのご紹介</h2>
<h2 class="title_section child-strength">マイナビ子育ての強み</h2>

<h2 class="title_section student-advertisement">マイナビ学生の窓口 広告メニュー</h2>
<h2 class="title_section student-client">マイナビ学生の窓口　クライアント実績</h2>
<h2 class="title_section student-category">マイナビニュースカテゴリのご紹介</h2>
<h2 class="title_section student-strength">マイナビ学生の窓口の強み</h2>

<h2 class="title_section teens-advertisement">マイナビティーンズ 広告メニュー</h2>
<h2 class="title_section teens-client">マイナビティーンズ　クライアント実績</h2>
<h2 class="title_section teens-category">マイナビニュースカテゴリのご紹介</h2>
<h2 class="title_section teens-strength">マイナビティーンズの強み</h2>
