<footer class="footer_Section">
  <div class="footerContainer inner">
    <!-- フッターの上のコンテンツ -->
    <div class="footerContent_a">
      <ul class="footer_a_link">
        <li>
          <h2>HOME</h2>
        </li>
        <li class="footer_br"></li>
        <li>
          <h2>お役立ち情報</h2>
          <ul class="footer_a_minlink">
            <li>
              <h3><a href="#">お役立ち記事</a></h3>
              <ul>
                <li><a href="#">カテゴリ</a></li>
                <li><a href="#">カテゴリ</a></li>
                <li><a href="#">カテゴリ</a></li>
                <li><a href="#">カテゴリ</a></li>
                <li><a href="#">カテゴリ</a></li>
                <li><a href="#">カテゴリ</a></li>
                <li><a href="#">カテゴリ</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">お役立ち記事</a></h3>
              <ul>
                <li><a href="#">カテゴリ</a></li>
                <li><a href="#">カテゴリ</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">お役立ち記事</a></h3>
              <ul>
                <li><a href="#">カテゴリ</a></li>
                <li><a href="#">カテゴリ</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer_br"></li>
        <li>
          <h2>メディア情報</h2>
          <ul>
            <li><a href="#">マイナビニュース</a></li>
            <li><a href="#">マイナビティーンズ</a></li>
            <li><a href="#">マイナビ子育て</a></li>
            <li><a href="#">マイナビウーマン</a></li>
            <li><a href="#">マイナビ学生の窓口</a></li>
          </ul>
        </li>
        <li class="footer_br"></li>
        <li>
          <h2>成功事例</h2>
          <ul>
            <li><a href="#">成功事例一覧</a></li>
            <li><a href="#">マイナビニュース</a></li>
            <li><a href="#">マイナビティーンズ</a></li>
            <li><a href="#">マイナビ子育て</a></li>
            <li><a href="#">マイナビウーマン</a></li>
            <li><a href="#">マイナビ学生の窓口</a></li>
          </ul>
        </li>
        <li class="footer_br"></li>
      </ul>
      <div class="footer_a_button">
        <form action="" type="submit">フォームでのお問い合わせ</form>
        <form action="" type="submit">サービス資料ダウンロード</form>
        <form action="" type="submit">お電話でのお問い合わせ</form>
        <p>050-000-000（平日8:00-17:00）</p>
      </div>
    </div>
    <!-- フッターの下のコンテンツ -->
    <div class="footerContent_b">
      <ul>
        <li><a href="#">利用規約</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
        <li><a href="#">運営者情報</a></li>
        <li><a href="#">サイトマップ</a></li>
      </ul> <a href="#">©Mynavi Corporation</a>
    </div>
  </div>
</footer>