html {
  font-size: 62.5%;
  font-family: "Noto Sans Japanese", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #333333;
}
main {
  font-family: "Noto Sans Japanese", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #333333;
}
.inner {
  margin: 0 auto;
  padding: 6rem 0;
  max-width: 1320px;
  width: 80%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .inner {
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  .inner {
    margin: 0 auto;
    padding: 60px 16px;
    width: 100%;
  }
}
