/* ----------------お役立ち情報セクション------------------- */

.myHelpful_Section {
  background-color: white;
}
.myHelpful_title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

/* ----------------調査記事一覧セクション------------------- */
.research_article_list_wrapper {
  display: flex;
  gap: 4rem;
  width: fit-content;
}
.research_article_list_content {
  display: grid;
  flex: 3;
  grid-template-columns: auto auto;
  gap: 3.2rem;
  height: fit-content;
}

@media screen and (max-width: 1120px) {
  .research_article_list_wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .research_article_list_wrapper {
    flex-direction: column;
  }
  .research_article_list_content {
    grid-template-columns: auto;
    gap: 2.4rem;
  }
}
