/* ----------------お役立ち情報セクション------------------- */

.myHelpful_Section {
  background-color: white;
}
.myHelpful_title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.p-base {
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.05em;
  color: #333333;
}

.mt-10 {
  margin-top: 1rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-50 {
  margin-top: 5rem;
}
.mt-60 {
  margin-top: 6rem;
}
.mt-70 {
  margin-top: 7rem;
}
.mt-80 {
  margin-top: 8rem;
}
.mt-90 {
  margin-top: 9rem;
}
.mt-100 {
  margin-top: 10rem;
}

/* ----------------お役立ち情報（記事,動画,資料）のレイアウト------------------- */
.useful_list_wrapper {
  display: flex;
  gap: 6rem;
}

.useful_list_left {
  flex: 3;
}
.useful_list_content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.4rem;
  height: fit-content;
  margin-bottom: 3.2rem;
}

.project_list_content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.2rem;
  height: fit-content;
  margin-top: 4rem;
}

@media screen and (max-width: 1120px) {
  .useful_list_wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .useful_list_wrapper {
    flex-direction: column;
  }
  .useful_list_content {
    grid-template-columns: auto;
    gap: 2.4rem;
  }
  .project_list_content {
    grid-template-columns: auto;
    gap: 2.4rem;
  }
}

/* ----------------お役立ち情報（記事,動画,資料）の視聴、ダウンロードのレイアウト------------------- */
.useful_watch_list_content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3.2rem;
}
.useful_watch_list_notes {
  font-size: 1.2rem;
  color: #eb5757;
  text-align: center;
  margin-top: 4rem;
}
/* ----------------メディア一覧------------------- */
.bg-gray {
  background-color: #fafafa;
  padding: 4rem;
}
.media_feature_wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 2.4rem;
}

.media_feature_text {
  text-align: center;
  font-size: 1.6rem;
}

.media_feature_imgs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2.4rem;
}

.media_feature_img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}

@media screen and (max-width: 768px) {
  .media_feature_wrapper {
    width: 90%;
  }
  .media_feature_imgs {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.6rem;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .media_feature_wrapper {
    width: 100%;
  }
}

/* ----------------レコメンドのレイアウト------------------- */
.recommed_container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.recommend_items {
  display: flex;
  gap: 2.4rem;
}
.recommend_items > div {
  width: 100%;
}

@media screen and (max-width: 1120px) {
  .media_recommend {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 768px) {
  .media_recommend,
  .recommend_items {
    display: flex;
    flex-direction: column;
  }
}

/* ----------------特集プロジェクト企画のレイアウト------------------- */
.feature_pickup_items {
  display: flex;
  gap: 2.4rem;
  padding: 0;
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .feature_pickup_items {
    flex-direction: column;
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  .feature_pickup_items {
    width: 100%;
    padding: 0 16px;
  }
}

/* ----------------検索結果のレイアウト------------------- */
.search_result_wrapper {
  margin-bottom: 8rem;
}
.search_article_items,
.search_doc_items,
.search_mov_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}
.search_result_title {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .search_article_items,
  .search_doc_items,
  .search_mov_items {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ----------------動画詳細のレイアウト------------------- */
.movie_detail_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.movie_detail_content > iframe {
  aspect-ratio: 16/9;
  width: 80%;
  height: auto;
  text-align: center;
  top: 0em;
  right: 0em;
}

.attention {
  margin-top: 2.4rem;
}
.mov_detail_text {
  margin-bottom: 5rem;
}

.mov_detail_program_title {
  font-size: 2rem;
  letter-spacing: 1px;
  position: relative;
  padding-left: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.mov_detail_program_title:before {
  display: inline-block;
  content: "";
  position: absolute;
  border-left: 5px solid #335f71;
  left: 0px;
  top: 0px;
  height: 100%;
}

#document {
  overflow-y: visible;
  height: fit-content;
}

/* ----------------fvフォームのレイアウト------------------- */
.iframe_fv_wrap {
  margin: 0 auto;
  width: 480px;
  height: 800px;
}

.iframe_fv_wrap iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .iframe_fv_wrap {
    width: 600px;
    height: 750px;
  }
  .movie_detail_content > iframe {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .iframe_fv_wrap {
    width: 420px;
    height: 1000px;
  }
}

@media screen and (max-width: 480px) {
  .iframe_fv_wrap {
    width: 300px;
    height: 1060px;
  }
}
/* ----------------請求フォームのレイアウト------------------- */

.iframe_dl_wrap {
  width: 480px;
  margin: 0 auto;
  height: 860px;
  margin-bottom: 6.4rem;
}

.iframe_dl_wrap iframe {
  width: 100%;
  height: 100%;
}
.iframe_mail_wrap {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
  .iframe_dl_wrap {
    width: 99%;
    height: 1010px;
  }
}

@media screen and (max-width: 380px) {
  .iframe_dl_wrap {
    height: 1070px;
  }
}

@media screen and (max-width: 330px) {
  .iframe_dl_wrap {
    height: 1110px;
  }
}
/* ----------------問い合わせフォームのレイアウト------------------- */
.iframe_contact_wrap {
  width: 600px;
  margin: 0 auto;
  height: 1000px;
}

.iframe_contact_wrap iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .iframe_contact_wrap {
    width: 400px;
    height: 1540px;
  }
}

@media screen and (max-width: 480px) {
  .iframe_contact_wrap {
    width: 320px;
    height: 1680px;
  }
}
