/* ----------------お役立ち情報セクション------------------- */

.myHelpful_Section {
  background-color: white;
}
.myHelpful_title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.p-base{
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.05em;
  color: #333333;
}

.mt-10{
  margin-top: 1rem;
}
.mt-20{
  margin-top: 2rem;
}
.mt-30{
  margin-top: 3rem;
}
.mt-40{
  margin-top: 4rem;
}
.mt-50{
  margin-top: 5rem;
}
.mt-60{
  margin-top: 6rem;
}
.mt-70{
  margin-top: 7rem;
}
.mt-80{
  margin-top: 8rem;
}
.mt-90{
  margin-top: 9rem;
}
.mt-100{
  margin-top: 10rem;
}