.article_text_img {
    display: flex;
    width: 100%;
    gap: 2rem;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 3.5rem
}
.article_text_img h4 {
    font-weight: 500;
}
.article_text_img p {
    padding-top: 1rem;
}

@media screen and (max-width: 768px) {
    .article_text_img {
        flex-direction: column-reverse;
    }
}