.article_content1 {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.article_content1_img {
    text-align: center;
}
@media screen and (max-width:650px) {
    .article_content1 {
        flex-direction: column;
    }
}