#article_h3 {
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
  padding-left: 2rem;
}
#article_h3::before {
  position: absolute;
  display: inline-block;
  content: "";
  border-left: 5px solid #335f71;
  height: 40px;
  left: 0;
  top: -4px;
}
