#article_toc {
  background-color: #fafafa;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}
.article_toc_inner {
  padding: 2.4rem 3.2rem;
  margin: 0 auto;
  overflow: hidden;
}
.article_toc_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article_toc_mokuji {
  display: flex;
  align-items: center;
}
.article_toc_mokuji svg {
  padding-right: 1rem;
  width: 4rem;
}
.article_toc_header h3 {
  font-size: 1.8rem;
  color: #00374d;
  width: 100%;
}
.article_toc_header p {
  font-size: 1.2rem;
  border: 1px solid #00374d;
  display: block;
  width: 6rem;
  text-align: center;
  border-radius: 3px;
  line-height: 2.3rem;
}
.article_toc_ul div {
  padding-left: 1.6rem;
}
.article_toc_ul h4 {
  padding-top: 2.4rem;
}
.article_toc_ul p {
  padding-top: 0.8rem;
}

@media screen and (max-width: 480px) {
  .article_toc_inner {
    padding: 1.6rem;
  }
}
