#article_h4 {
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  padding-left: 5.5rem;
}
#article_h4::before {
  position: absolute;
  display: inline-block;
  content: "";
  border-top: 1px solid;
  width: 4rem;
  top: 14px;
  left: 0px;
}
