.article_table3_box {
    width: 100%;
}
.article_table3_box th {
    border: 1px solid #D1D1D1;
    width: 26%;
    padding: 1rem 0 1rem 2rem;
    background-color: #FAFAFA;
}
.article_table3_box td {
    border: 1px solid #D1D1D1;
    width: 37%;
    padding: 1rem 0 1rem 2rem;
}