.article_table2_box {
    width: 100%;
}
.article_table2_box th {
    border: 1px solid #D1D1D1;
    width: 26%;
    padding: 1rem 0 1rem 2rem;
    background-color: #FAFAFA;
}
.article_table2_box td {
    border: 1px solid #D1D1D1;
    width: 37%;
    padding: 1rem 0 1rem 2rem;
}
@media screen and (max-width:768px) {
    .article_table2_box th {
        font-size: 1.4rem;
    }
    .article_table3_box td {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 480px) {
    .article_table2_box th {
        font-size: 1.2rem;
    }
    .article_table2_box td {
        font-size: 1.2rem;
    }
  }