/* ----------------ブロック全体のcss------------------- */
#post_body {
  color: #333;
  line-height: 1.6;
}
.article_parts {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
/* ----------------見出し------------------- */
#post_body h2 {
  color: #00374d;
  font-size: 2.4rem;
  font-weight: 500;
}

#post_body h3 {
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
  padding-left: 2rem;
}
#post_body h3::before {
  position: absolute;
  display: inline-block;
  content: "";
  border-left: 5px solid #335f71;
  height: 100%;
  left: 0;
}

#post_body h4 {
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  padding-left: 5.5rem;
  font-weight: 500;
}
#post_body h4::before {
  position: absolute;
  display: inline-block;
  content: "";
  border-top: 1px solid;
  width: 4rem;
  top: 14px;
  left: 0px;
}

/* ----------------テキスト------------------- */
#post_body .has-large-font-size {
  font-size: 1.6rem;
}

#post_body .has-normal-font-size {
  font-size: 1.4rem;
}

#post_body strong {
  font-weight: 500;
}

.has-small-font-size {
  font-size: 1.2rem;
  font-weight: 400;
}

/* ----------------リスト------------------- */
#post_body ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
#post_body li {
  list-style-type: disc;
  margin-left: 24px;
  text-align: left;
}

/* ----------------概要------------------- */
#post_body .article_summary {
  background-color: #fafafa;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 2.4rem 3.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 2.4rem;
}
#post_body .article_summary_li {
  list-style: none;
  margin-left: 0;
}
#post_body .article_summary_title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #00374d;
}

#post_body .article_summary_p {
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

@media screen and (max-width: 480px) {
  #post_body .article_summary {
    padding: 1.6rem 1.6rem;
    gap: 1.6rem;
  }
}

/* ----------------目次------------------- */
#post_body .article_toc {
  background-color: #fafafa;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 2.4rem 3.2rem;
  width: fit-content;
  margin: 0 auto;
}
#post_body .article_toc_ul li {
  list-style: none;
  margin-left: 0;
}
#post_body .article_toc_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#post_body .article_toc_mokuji {
  display: flex;
  align-items: center;
}
#post_body .article_toc_mokuji svg {
  padding-right: 1rem;
  width: 4rem;
}
#post_body .article_toc_header p {
  font-size: 1.8rem;
  color: #00374d;
  width: 100%;
  font-weight: 500;
}
#post_body .article_toc_ul div {
  padding-left: 1.6rem;
}
#post_body .article_toc_ul h5 {
  padding-top: 2.4rem;
}
#post_body .article_toc_ul p {
  padding-top: 0.8rem;
}

@media screen and (max-width: 480px) {
  #post_body .article_toc {
    padding: 1.6rem;
  }
}

/* ----------------ボタン------------------- */
#post_body .wp-element-button {
  padding: 4rem auto;
}
#post_body .wp-element-button {
  display: inline-block;
  width: fit-content;
  padding: 1rem 8rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  color: white;
  background-color: #00374d;
  border: 1px #00374d solid;
  border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

#post_body .wp-block-button a:hover {
  background-color: white;
  border: 1px solid #00374d;
  color: #00374d;
  border-radius: 4px;
  transition: 0.6s;
  text-decoration: none !important;
}

@media screen and (max-width: 480px) {
  #post_body .article_btn_primary {
    width: 100%;
  }
  #post_body .wp-element-button {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    width: 100%;
  }
}
#post_body .article_btn_secondary {
}
#post_body .is-style-outline .wp-block-button {
  display: inline-block;
  width: fit-content;
  padding: 1rem 8rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  color: #00374d;
  background-color: white;
  border: #00374d 1px solid;
  cursor: pointer;
  border-radius: 4px;
}

#post_body .is-style-outline .wp-block-button:hover {
  background-color: #00374d;
  color: white;
  border: #00374d 1px solid;
  border-radius: 4px;
  transition: 0.6s;
}

@media screen and (max-width: 480px) {
  #post_body .is-style-outline .wp-block-button {
    width: 100%;
  }
  #post_body .is-style-outline .wp-block-button {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    width: 100%;
  }
}

#post_body .article_btn_tertiary_wrapper {
  width: fit-content;
}
#post_body .article_btn_tertiary::after {
  position: absolute;
  bottom: 15px;
  content: "";
  width: 100%;
  height: 15px;
  border-bottom: solid 1px #333;
  border-right: solid 1px #333;
  transform: skew(35deg) translateX(-50%);
  left: 48%;
}
#post_body .article_btn_tertiary {
  text-align: start;
  display: inline-block;
  position: relative;
  border: none;
  background: transparent;
  width: 30rem;
  margin-top: 0.5rem;
  padding-bottom: 2.4rem;
  color: #333;
  text-decoration: none;
}

#post_body .article_btn_tertiary:hover {
  opacity: 0.6;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #post_body .article_btn_tertiary {
    width: 50%;
    min-width: 30rem;
    margin: 1.6rem 0 0 0;
  }
}
@media screen and (max-width: 480px) {
  #post_body .article_btn_tertiary {
    width: 99%;
  }
}

#post_body .article_btn_icon {
  text-decoration: none;
}
#post_body .article_btn_icon_a {
  display: flex;
  width: fit-content;
  color: #333;
}
#post_body .article_btn_icon_a p {
  margin-right: 2rem;
}
#post_body .article_btn_icon_a svg {
  width: 2rem;
}

#post_body .article_btn_icon a:hover {
  opacity: 0.6;
  text-decoration: none;
}
#post_body .article_btn_link {
  width: fit-content;
}

#post_body a {
  color: #006dd4;
}
#post_body a:hover {
  text-decoration: underline;
}

/* ----------------記事コンテンツ1------------------- */
#post_body .article_content1 {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
#post_body .article_content1_img {
  text-align: center;
}
@media screen and (max-width: 650px) {
  #post_body .article_content1 {
    flex-direction: column;
  }
}

/* ----------------記事コンテンツ2------------------- */
#post_body .article_content2 {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
#post_body .article_content2_left {
  text-align: center;
}

#post_body .article_content2_right {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
#post_body .article_content2_right_red {
  color: #eb5757;
}

@media screen and (max-width: 650px) {
  #post_body .article_content2 {
    flex-direction: column;
  }
}

/* ----------------テーブル------------------- */
#post_body .article_table_box {
  width: 100%;
  margin-top: 1.6rem;
}
#post_body .article_table_box th {
  border: 1px solid #d1d1d1;
  width: fit-content;
  white-space: nowrap;
  padding: 0.8rem 1.6rem;
  background-color: #fafafa;
}
#post_body .article_table_box td {
  border: 1px solid #d1d1d1;
  width: fit-content;
  padding: 0.8rem 1.6rem;
}
@media screen and (max-width: 768px) {
  #post_body .article_table {
    overflow-x: scroll;
  }
  #post_body .article_table_box {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
  }

  #post_body .article_table_box th {
    font-size: 1.4rem;
  }
  #post_body .article_table_box td {
    font-size: 1.4rem;
  }
}

/* ----------------画像------------------- */
