.article_table1_box {
  width: 100%;
}
.article_table1_box th {
  border: 1px solid #d1d1d1;
  width: 25%;
  padding: 0.8rem 1.6rem;
  background-color: #fafafa;
}
.article_table1_box td {
  border: 1px solid #d1d1d1;
  width: 75%;
  padding: 0.8rem 1.6rem;
}
@media screen and (max-width: 768px) {
  .article_table1 {
    overflow-x: scroll;
  }
  .article_table1_box {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
  }

  .article_table1_box th {
    font-size: 1.4rem;
  }
  .article_table1_box td {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .article_table1_box th {
    font-size: 1.2rem;
  }
  .article_table1_box td {
    font-size: 1.2rem;
  }
}
