.primary_btn {
  width: fit-content;
  margin: 0 auto;
}
.primary_btn_text {
  width: fit-content;
  padding: 1rem 8rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  color: white;
  background-color: #00374d;
  border-radius: 4px;
  border-radius: 4px;
}

.primary_btn_text:hover {
  background-color: #335f71;
  border-radius: 4px;
  transition: all 0.15s linear;
}

@media screen and (max-width: 480px) {
  .primary_btn {
    width: 100%;
  }
  .primary_btn_text {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    width: 100%;
  }
}

.secondary_btn {
  width: fit-content;
  margin: 4rem auto;
}
.secondary_btn_text {
  width: fit-content;
  padding: 1rem 8rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  color: #00374d;
  background-color: white;
  border: #00374d 1px solid;
  border-radius: 4px;
}

.secondary_btn_text:hover {
  background-color: #f1f7fb;
  color: #00374d;
  border: #00374d 1px solid;
  border-radius: 4px;
  transition: all 0.15s linear;
}

@media screen and (max-width: 480px) {
  .secondary_btn {
    width: 100%;
  }
  .secondary_btn_text {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    width: 100%;
  }
}
