.btn_icon {
  width: 100%;
}
.btn_icon_a {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.btn_icon_a p {
  margin-right: 2rem;
}
.btn_icon_a svg {
  width: 2rem;
}

.btn_icon:hover {
  opacity: 0.6;
}
