.case_detail_head {
  margin-bottom: 7.2rem;
}

.case_detail_head h1 {
  font-size: 4rem;
  font-weight: 500;
  color: #00374d;
}
.case_sns_logos {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-top: 4rem;
  gap: 1.6rem;
}
.case_sns_logos a:hover {
  opacity: 0.6;
}
.research_article_detail_head p {
  font-weight: 400;
  font-size: 1.6rem;
}
.case_sns_logos img {
  display: block;
}

@media screen and (max-width: 768px) {
  .case_detail_head h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 530px) {
  .case_detail_head {
    margin-bottom: 4rem;
  }
  .case_sns_logos {
    margin-left: 0;
    margin-top: 1.6rem;
  }
  .case_detail_head h1 {
    font-size: 2.4rem;
  }
}
