/* ----------特集・プロジェクト企画----------- */

.helpMov_titleBox {
  line-height: 3rem;
  margin-bottom: 3rem;
}
.helpMov_title {
  display: inline-block;
  font-size: 2.4rem;
}
.featureProject_ContentBox {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.featureProject_Content_a:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
.featureProject_item:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
.featureProject_Content_a {
  width: 48%;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  position: relative;
}
.featureProject_Content_a img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}
.featureProject_Content_a_linkBox {
  display: flex;
  margin-bottom: 0.5rem;
  position: relative;
}

.featureProject_Content_a h4 {
  font-size: 1.6rem;
  font-weight: 500;
}
.featureProject_Content_a p {
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #757575;
  margin-top: 1rem;
}

.featureProject_Ul {
  display: grid;
  gap: 2rem;
  flex-wrap: wrap;
  width: 48%;
  flex-grow: 1;
  justify-content: space-around;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.featureProject_item {
  position: relative;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}
.featureProject_article {
  margin: 1rem 1.5rem;
}
.featureProject_item article img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}
.featureProject_linkBox {
  display: flex;
  position: relative;
}

.featureProject_item article h4 {
  font-size: 1.4rem;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card_link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.featureProject_image_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.3s;
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 4px;
}

.featureProject_Content_a:hover .featureProject_image_wrapper::before {
  opacity: 1;
}
.featureProject_item:hover .featureProject_image_wrapper::before {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .featureProject_item {
    min-width: 80%;
  }
  .featureProject_item article img {
    width: 100%;
    height: auto;
  }
  .featureProject_Content_a {
    display: none;
  }
  .featureProject_Ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .featureProject_item {
    min-width: 85%;
  }
  .featureProject_Ul {
    display: flex;
  }
}
