/* -------------FVのCSS--------------- */
.myFv_Section {
  background-image: url(/assets/img/fv_background_image.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.myFv_Wrapper {
  display: flex;
  gap: 3%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 10.8rem;
}
.myFv_Container_a {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: -10%;
}

.myFv_preTitle {
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: 500;
  color: #00374d;
}
.myFV_Title {
  font-weight: 500;
  font-size: 4rem;
  color: #00374d;
  padding: 2rem 0;
  line-height: 1.6;
  font-weight: 500;
}
.myFv_text {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #00374d;
}
.myFv_ImgUl {
  display: flex;
  align-items: center;
  gap: 6%;
  padding-top: 2rem;
}
.myFv_ImgItem {
  width: 6rem;
}
.myFv_Imgs {
  width: 100%;
}

.myFv_Container_b {
  width: 480px;
}

@media screen and (max-width: 1024px) {
  .myFv_Wrapper {
    flex-direction: column;
    padding-top: 10.8rem;
  }
  .myFv_Container_a {
    width: 100%;
    margin: 0rem 0 3rem 0;
  }
  .myFv_Container_b {
    margin-top: 4rem;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .myFv_Container_b {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .myFv_preTitle {
    font-size: 2rem;
  }
  .myFV_Title {
    font-size: 3.2rem;
    width: 28rem;
  }
  .myFv_Container_b {
    width: 100%;
    min-width: 100%;
  }
}
