.media_card_primary__item{
  display: flex;
  gap: 7.2rem;
  padding-bottom: 4rem;
  margin-top: 4rem;
  border-bottom: solid 1px #D1D1D1;
}

.media_card_primary__item--thumbnail{
  width: 40%;
  max-width: 368px;
}
.media_card_primary__item--thumbnail img{
  width: 100%;
}
.media_card_primary__item--content{
  width: 60%;
}

.media_card_primary__item--content__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.4rem;
}

.media_card_primary__item--content__header img{
  max-width: 388px;
  min-width: 300px;
}
.media_card_primary__item--content__header a{
  position: relative;
}
.media_card_primary__item--content__header a:hover{
  text-decoration: underline;
}
.media_card_primary__item--content__header a::after{
  content: url('../../../assets/img/open-in-new-rounded.svg');
  position: absolute;
  right: -15%;
  top: -10%;
}
.media_card_primary__item--content__tags{
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.media_card_primary__item--content__tags span{
  display: inline-block;
  background: #F1F7FB;
  border: 1px solid #006DD4;
  border-radius: 5px;
  color: #006DD4;
  padding: 0.5rem;
}

.media_card_primary__item--content__button{
  color: #006DD4;
  font-weight: 600;
  display: inline-block;
  margin-top: 2rem;
}

@media(max-width: 1360px){
  .media_card_primary__item{
    gap: 4rem;
  }
  
}
@media(max-width: 768px){
  .media_card_primary__item{
    display: block;
  }
  .media_card_primary__item--thumbnail{
    width: 100%;
    max-width: auto;
  }
  .media_card_primary__item--content{
    width: 100%;
  }
  .media_card_primary__item--content__header {
    margin-top: 3rem;
  }
  .media_card_primary__item--content__header img{
    min-width: 200px;
  }
}