.research_article_detail_head {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 500;
  color: #00374d;
  margin-bottom: 7.2rem;
}
.research_article_detail_head_content {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.research_article_detail_head_sns_logos {
  display: flex;
  gap: 1.6rem;
}
.research_article_detail_head_sns_logos a:hover {
  opacity: 0.6;
}
.research_article_detail_head_sns_logos li {
}
.research_article_detail_head p {
  font-weight: 400;
  font-size: 1.6rem;
}
.research_article_detail_head_sns_logos img {
  display: block;
}

@media screen and (max-width: 768px) {
  .research_article_detail_head {
    font-size: 3rem;
  }
}
@media screen and (max-width: 530px) {
  .research_article_detail_head {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  .research_article_detail_head_content {
    display: block;
  }
  .research_article_detail_head_sns_logos {
    margin-top: 1.6rem;
  }
}
