.sns_lgs {
    font-size: 4rem;
    letter-spacing: 2px;

    color: #00374D;
}

.sns_lgs ul {
    display: flex;
    justify-content: center;
}
.sns_lgs li {
    margin: 0 1rem;
}
.sns_lgs img {
    display: block;
}

@media screen and (max-width:768px) {
      .sns_lgs {
        font-size: 3rem;
      }
}
@media screen and (max-width:530px) {
    .sns_lgs {
      font-size: 2.5rem;
      line-height: 5rem;
    }
    .sns_lgs_content {
        display: block;
    }
}