.sns_logos {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.sns_logos a:hover {
  opacity: 0.6;
}
.sns_logos li {
  margin: 0 1rem;
}
.research_article_detail_head p {
  font-weight: 400;
  font-size: 1.6rem;
}
.sns_logos img {
  display: block;
}
