.doc_card_primary {
  opacity: 1;
}
.doc_card_primary.is-hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  display: none;
}
.more_feature.is-btn-hidden {
  display: none;
}

.project_card_primary {
  opacity: 1;
}
.project_card_primary.is-hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  display: none;
}
.more_project.is-btn-hidden {
  display: none;
}

.research_article_card_secondary {
  opacity: 1;
}
.research_article_card_secondary.is-hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  display: none;
}
.more_reslut_article.is-btn-hidden {
  display: none;
}

.doc_card_secondary {
  opacity: 1;
}
.doc_card_secondary.is-hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  display: none;
}
.more_reslut_doc.is-btn-hidden {
  display: none;
}

.mov_card_secondary {
  opacity: 1;
}
.mov_card_secondary.is-hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  display: none;
}
.more_reslut_mov.is-btn-hidden {
  display: none;
}
